<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ import namespace="Microsoft.VisualStudio.TextTemplating"#>
<#@ output extension=".cs" #>
using System;
using System.Collections.Generic;
using System.Linq.Expressions;

namespace Trolley;

public interface IIncludableQueryBase
{
    #region Properties
    /// <summary>
    /// 是否一对多关系导航
    /// </summary>
    bool IsIncludeMany { get; }
    #endregion
}
/// <summary>
/// 导航属性查询
/// </summary>
/// <typeparam name="T">表T实体类型</typeparam>
/// <typeparam name="TMember">表T导航属性实体类型</typeparam>
public interface IIncludableQuery<T, TMember> : IIncludableQueryBase, IQuery<T>
{
    #region Sharding
    /// <summary>
    /// 直接指定<typeparamref name="TMember"/>表分表名，完整的表名，如：.UseTable("sys_order_202001")，.UseTable("sys_order_202001", "sys_order_202002")
    /// </summary>
    /// <param name="tableNames">多个表名，完整的表名，如：sys_order_202001，按月分表</param>
    /// <returns>返回查询对象，带有导航属性</returns>
    new IIncludableQuery<T, TMember> UseTable(params string[] tableNames);
    /// <summary>
    /// 根据首个多分表与当前<typeparamref name="TMember"/>表名的映射关系，指定当前<typeparamref name="TMember"/>表分表名获取委托，执行委托获取分表名。委托第一个参数是首个分表原始表名，第二个参数是当前<typeparamref name="TMember"/>表原始表名，第三个参数是首个分表当前分表名，返回值是当前<typeparamref name="TMember"/>表分表名称，如：
    /// <code>
    /// .From&lt;Order&gt;()
    /// .UseTable("sys_order_104_202405", "sys_order_105_202405")
    /// .Include(f =&gt; f.Buyer)
    /// .UseTableMap((orderOrigName, userOrigName, orderTableName) =&gt;
    /// {
    ///     //sys_order_104_202405 -&gt; sys_user_104, sys_order_105_202405 -&gt; sys_user_105
    ///     var tableName = orderTableName.Replace(orderOrigName, userOrigName);
    ///     return tableName.Substring(0, tableName.Length - 7);
    /// })
    /// SQL:
    /// SELECT ... FROM `sys_order_104_202405` a LEFT JOIN `sys_user_104` b ON a.`BuyerId`=b.`Id` ...
    /// UNION ALL
    /// SELECT ... FROM `sys_order_105_202405` a LEFT JOIN `sys_user_105` b ON a.`BuyerId`=b.`Id` ...
    /// </code>
    /// </summary>
    /// <param name="tableNameGetter">当前<typeparamref name="TMember"/>表分表名获取委托</param>
    /// <returns>返回查询对象，带有导航属性</returns>
    new IIncludableQuery<T, TMember> UseTableMap(Func<string, string, string, string> tableNameGetter);
    /// <summary>
    /// 手动指定分表规则参数值，执行分表规则确定<typeparamref name="TMember"/>表分表名，可多次调用实现多个分表，参数值的顺序与配置的分表规则参数值顺序保持一致，不能为null，如：.UseTableBy(DateTime.Now)，.UseTableBy(1, 6, DateTime.Now)等
    /// </summary>
    /// <param name="fieldValues">字段值数组，不可为nul或空元素</param>
    /// <returns>返回查询对象，带有导航属性</returns>
    new IIncludableQuery<T, TMember> UseTableBy(params object[] fieldValues);
    /// <summary>
    /// 手动指定分表范围规则参数值，参数值的顺序与配置的分表范围规则参数值数组元素顺序保持一致，最后两个字段值是范围值，并确保fieldValues[n-1] &lt;= fieldValues[n]，如：.UseTableByRange(DateTime.Now.AddDays(-7), DateTime.Now)
    /// </summary>
    /// <param name="fieldValues">字段值数组，不可为nul或空元素，元素个数&gt;=2，最后两个字段值是范围值，并确保fieldValues[n-1] &lt;= fieldValues[n]，如：.UseTableByRange(DateTime.Now.AddDays(-7), DateTime.Now)</param>
    /// <returns>返回查询对象，带有导航属性</returns>
    new IIncludableQuery<T, TMember> UseTableByRange(params object[] fieldValues);
    /// <summary>
    /// 指定使用UNION连接分表查询语句，默认使用UNION ALL连接分表查询语句
    /// </summary>
    new IIncludableQuery<T, TMember> UseUnionShardingTable();
    #endregion

    #region UseTableSchema
    /// <summary>
    /// 切换TableSchema，非默认TableSchema才有效
    /// </summary>
    /// <param name="tableSchema">指定TableSchema</param>
    /// <returns>返回查询对象，带有导航属性</returns>
    new IIncludableQuery<T, TMember> UseTableSchema(string tableSchema);
    #endregion

    #region ThenInclude/ThenIncludeMany
    /// <summary>
    /// 继续加载导航属性，使用LEFT JOIN关联导航属性表，使用实体映射中的导航属性配置生成LEFT JOIN ... ON子句，1:1关联关系，随主表一起查询,支持无限级，1:N关联关系，分两次查询，第二次查询返回结果，只支持1级。
    /// <code>
    /// .Include(f =&gt; f.Brand) ...
    /// .Include(f =&gt; f.Products) ...
    /// .Include(f =&gt; f.Seller.Company.Products) ...
    /// </code>
    /// </summary>
    /// <typeparam name="TNavigation">导航属性泛型类型</typeparam>
    /// <param name="memberSelector">导航属性选择表达式，1:1,1:N关系都可以选择，如：f =&gt; f.Brand，f =&gt; f.Products</param>
    /// <returns>返回查询对象，带有导航属性</returns>
    IIncludableQuery<T, TNavigation> ThenInclude<TNavigation>(Expression<Func<TMember, TNavigation>> memberSelector);
    /// <summary>
    /// 继续加载集合类导航属性，使用LEFT JOIN关联导航属性表，使用实体映射中的导航属性配置生成LEFT JOIN ... ON子句，可使用filter筛选满足条件的导航属性，1:N关联关系，分两次查询，第二次查询返回结果，只支持1级。
    /// <code>
    /// .ThenIncludeMany(f =&gt; f.Orders)  //与 .Include(f =&gt; f.Orders) 等价
    /// .ThenIncludeMany(f =&gt; f.Orders, order =&gt; order.TotalAmout &gt; 500)
    /// </code>
    /// </summary>
    /// <typeparam name="TElement">导航属性泛型类型</typeparam>
    /// <param name="memberSelector">导航属性选择表达式，只能选择1:N关系，如：f =&gt; f.Products</param>
    /// <param name="filter">导航属性过滤条件，加载满足条件的子表数据</param>
    /// <returns>返回实体对象，带有导航属性</returns>
    IIncludableQuery<T, TElement> ThenIncludeMany<TElement>(Expression<Func<TMember, IEnumerable<TElement>>> memberSelector, Expression<Func<TElement, bool>> filter = null);
    #endregion
}
<#
    var count = 16;
    var tables = "T1";
    var currentTable = "T1";
    for (int i = 2; i <= count; i++)
    {
        tables += $", T{i}";
#>
/// <summary>
/// 导航属性查询
/// </summary>
/// <typeparam name="T1">表T1实体类型</typeparam>
<#
        for (int j = 2; j <= i; j++)
        {
            currentTable = $"T{j}";
#>
/// <typeparam name="<#=currentTable#>">表<#=currentTable#>实体类型</typeparam>
<#      }#>
/// <typeparam name="TMember">表<#=currentTable#>导航属性实体类型</typeparam>
public interface IIncludableQuery<<#=tables#>, TMember> : IIncludableQueryBase, IQuery<<#=tables#>>
{
<#
        if(i < count)
        {
#>
    #region Sharding
    /// <summary>
    /// 直接指定<typeparamref name="TMember"/>表分表名，完整的表名，如：.UseTable("sys_order_202001")，.UseTable("sys_order_202001", "sys_order_202002")
    /// </summary>
    /// <param name="tableNames">多个表名，完整的表名，如：sys_order_202001，按月分表</param>
    /// <returns>返回查询对象，带有导航属性</returns>
    new IIncludableQuery<<#=tables#>, TMember> UseTable(params string[] tableNames);
    /// <summary>
    /// 根据首个多分表与当前<typeparamref name="TMember"/>表名的映射关系，指定当前<typeparamref name="TMember"/>表分表名获取委托，执行委托获取当前<typeparamref name="TMember"/>表分表名。委托第一个参数是<typeparamref name="TMasterSharding"/>主表原始表名，第二个参数是当前<typeparamref name="TMember"/>表原始表名，第三个参数是首个多分表当前分表名，返回值是当前<typeparamref name="TMember"/>表分表名称，如：
    /// <code>
    /// .From&lt;Order&gt;().UseTable("sys_order_104_202405", "sys_order_105_202405")
    /// .InnerJoin&lt;User&gt;((x, y) =&gt; x.BuyerId == y.Id)
    /// .UseTableMap((orderOrigName, userOrigName, orderTableName) =&gt;
    /// {
    ///     //sys_order_104_202405 -&gt; sys_user_104, sys_order_105_202405 -&gt; sys_user_105
    ///     var tableName = orderTableName.Replace(orderOrigName, userOrigName);
    ///     return tableName.Substring(0, tableName.Length - 7);
    /// })
    /// SQL:
    /// SELECT ... FROM `sys_order_104_202405` a LEFT JOIN `sys_user_104` b ON a.`BuyerId`=b.`Id` ...
    /// UNION ALL
    /// SELECT ... FROM `sys_order_105_202405` a LEFT JOIN `sys_user_105` b ON a.`BuyerId`=b.`Id` ...
    /// </code>
    /// </summary>
    /// <param name="tableNameGetter">TMember表分表名获取委托</param>
    /// <returns>返回查询对象，带有导航属性</returns>
    new IIncludableQuery<<#=tables#>, TMember> UseTableMap(Func<string, string, string, string> tableNameGetter);
    /// <summary>
    /// 手动指定分表规则参数值，执行分表规则确定<typeparamref name="TMember"/>表分表名，可多次调用实现多个分表，参数值的顺序与配置的分表规则参数值顺序保持一致，不能为null，如：.UseTableBy(DateTime.Now)，.UseTableBy(1, 6, DateTime.Now)等
    /// </summary>
    /// <param name="fieldValues">字段值数组，不可为nul或空元素</param>
    /// <returns>返回查询对象，带有导航属性</returns>
    new IIncludableQuery<<#=tables#>, TMember> UseTableBy(params object[] fieldValues);
    /// <summary>
    /// 手动指定分表范围规则参数值数组，手动指定<typeparamref name="TMember"/>表分表名执行查询，参数值的顺序与配置的分表范围规则参数值数组元素顺序保持一致，最后两个字段值是范围值，并确保fieldValues[n-1] &lt;= fieldValues[n]，如：.UseTableByRange(DateTime.Now.AddDays(-7), DateTime.Now)
    /// </summary>
    /// <param name="fieldValues">字段值数组，不可为nul或空元素，元素个数&gt;=2，最后两个字段值是范围值，并确保fieldValues[n-1] &lt;= fieldValues[n]，如：.UseTableByRange(DateTime.Now.AddDays(-7), DateTime.Now)</param>
    /// <returns>返回查询对象，带有导航属性</returns>
    new IIncludableQuery<<#=tables#>, TMember> UseTableByRange(params object[] fieldValues);
    /// <summary>
    /// 指定使用UNION连接分表查询语句，默认使用UNION ALL连接分表查询语句
    /// </summary>
    new IIncludableQuery<<#=tables#>, TMember> UseUnionShardingTable();
    #endregion

    #region UseTableSchema
    /// <summary>
    /// 切换TableSchema，非默认TableSchema才有效
    /// </summary>
    /// <param name="tableSchema">指定TableSchema</param>
    /// <returns>返回查询对象，带有导航属性</returns>
    new IIncludableQuery<<#=tables#>, TMember> UseTableSchema(string tableSchema);
    #endregion

    #region ThenInclude/ThenIncludeMany
    /// <summary>
    /// 继续加载导航属性，使用LEFT JOIN关联导航属性表，使用实体映射中的导航属性配置生成LEFT JOIN ... ON子句，1:1关联关系，随主表一起查询,支持无限级，1:N关联关系，分两次查询，第二次查询返回结果，只支持1级。
    /// <code>
    /// .Include(f =&gt; f.Brand) ...
    /// .Include(f =&gt; f.Products) ...
    /// .Include(f =&gt; f.Seller.Company.Products) ...
    /// </code>
    /// </summary>
    /// <typeparam name="TNavigation">导航属性泛型类型</typeparam>
    /// <param name="memberSelector">导航属性选择表达式，1:1,1:N关系都可以选择，如：f =&gt; f.Brand，f =&gt; f.Products</param>
    /// <returns>返回查询对象，带有导航属性</returns>
    IIncludableQuery<<#=tables#>, TNavigation> ThenInclude<TNavigation>(Expression<Func<TMember, TNavigation>> memberSelector);
    /// <summary>
    /// 继续加载集合类导航属性，使用LEFT JOIN关联导航属性表，使用实体映射中的导航属性配置生成LEFT JOIN ... ON子句，可使用filter筛选满足条件的导航属性，1:N关联关系，分两次查询，第二次查询返回结果，只支持1级。
    /// <code>
    /// .ThenIncludeMany(f =&gt; f.Orders)  //与 .Include(f =&gt; f.Orders) 等价
    /// .ThenIncludeMany(f =&gt; f.Orders, order =&gt; order.TotalAmout &gt; 500)
    /// </code>
    /// </summary>
    /// <typeparam name="TElement">导航属性泛型类型</typeparam>
    /// <param name="memberSelector">导航属性选择表达式，只能选择1:N关系，如：f =&gt; f.Products</param>
    /// <param name="filter">导航属性过滤条件，加载满足条件的子表数据</param>
    /// <returns>返回实体对象，带有导航属性</returns>
    IIncludableQuery<<#=tables#>, TElement> ThenIncludeMany<TElement>(Expression<Func<TMember, IEnumerable<TElement>>> memberSelector, Expression<Func<TElement, bool>> filter = null);
    #endregion
<#      }#>
}
<#  }#>