<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ import namespace="Microsoft.VisualStudio.TextTemplating"#>
<#@ output extension=".cs" #>
using System;
using System.Collections.Generic;
using System.Linq.Expressions;

namespace Trolley;

public class IncludableQuery<T, TMember> : Query<T>, IIncludableQuery<T, TMember>
{
    #region Properties
    public bool IsIncludeMany { get; private set; }
    #endregion

    #region Constructor
    public IncludableQuery(DbContext dbContext, IQueryVisitor visitor, bool isIncludeMany)
        : base(dbContext, visitor)
    {
        this.IsIncludeMany = isIncludeMany;
    }
    #endregion

    #region Sharding
    public new IIncludableQuery<T, TMember> UseTable(params string[] tableNames)
    {
        this.Visitor.UseTable(this.IsIncludeMany, tableNames);
        return this;
    }
    public new IIncludableQuery<T, TMember> UseTable(Func<string, bool> tableNamePredicate)
    {
        this.Visitor.UseTable(this.IsIncludeMany, tableNamePredicate);
        return this;
    }
    public new IIncludableQuery<T, TMember> UseTableMap<TMasterSharding>(Func<string, string, string, string> tableNameGetter)
    {
        var masterEntityType = typeof(TMasterSharding);
        this.Visitor.UseTableMap(this.IsIncludeMany, masterEntityType, tableNameGetter);
        return this;
    }
    public new IIncludableQuery<T, TMember> UseTableBy(params object[] fieldValues)
    {
        this.Visitor.UseTableBy(false, fieldValues);
        return this;
    }
    public new IIncludableQuery<T, TMember> UseTableByRange(object beginFieldValue, object endFieldValue)
    {
        this.Visitor.UseTableByRange(false, beginFieldValue, endFieldValue);
        return this;
    }
    public new IIncludableQuery<T, TMember> UseTableByRange(object field1Value, object beginField2Value, object endField2Value)
    {
        this.Visitor.UseTableByRange(false, field1Value, beginField2Value, endField2Value);
        return this;
    }
    public new IIncludableQuery<T, TMember> UseTableByRange(object field1Value, object field2Value, object beginField3Value, object endField3Value)
    {
        this.Visitor.UseTableByRange(false, field1Value, field2Value, beginField3Value, endField3Value);
        return this;
    }
    #endregion

    #region UseTableSchema
    public new IIncludableQuery<T, TMember> UseTableSchema(string tableSchema)
    {
        this.Visitor.UseTableSchema(this.IsIncludeMany, tableSchema);
        return this;
    }
    #endregion

    #region ThenInclude/ThenIncludeMany
    public virtual IIncludableQuery<T, TNavigation> ThenInclude<TNavigation>(Expression<Func<TMember, TNavigation>> member)
    {
        var isIncludeMany = this.Visitor.ThenInclude(member);
        return this.OrmProvider.NewIncludableQuery<T, TNavigation>(this.DbContext, this.Visitor, isIncludeMany);
    }
    public virtual IIncludableQuery<T, TElement> ThenIncludeMany<TElement>(Expression<Func<TMember, IEnumerable<TElement>>> member, Expression<Func<TElement, bool>> filter = null)
    {
        this.Visitor.ThenInclude(member, filter);
        return this.OrmProvider.NewIncludableQuery<T, TElement>(this.DbContext, this.Visitor, true);
    }
    #endregion
}
<#
    var count = 16;
    var tables = "T1";
    for (int i = 2; i <= count; i++)
    {
        tables += $", T{i}";
#>
public class IncludableQuery<<#=tables#>, TMember> : Query<<#=tables#>>, IIncludableQuery<<#=tables#>, TMember>
{
    #region Properties
    public bool IsIncludeMany { get; private set; }
    #endregion

    #region Constructor
    public IncludableQuery(DbContext dbContext, IQueryVisitor visitor, bool isIncludeMany)
        : base(dbContext, visitor)
    {
        this.IsIncludeMany = isIncludeMany;
    }
    #endregion
<#
        if( i < count)
        {
#>

    #region Sharding
    public new IIncludableQuery<<#=tables#>, TMember> UseTable(params string[] tableNames)
    {
        this.Visitor.UseTable(this.IsIncludeMany, tableNames);
        return this;
    }
    public new IIncludableQuery<<#=tables#>, TMember> UseTable(Func<string, bool> tableNamePredicate)
    {
        this.Visitor.UseTable(this.IsIncludeMany, tableNamePredicate);
        return this;
    }
    public new IIncludableQuery<<#=tables#>, TMember> UseTableMap<TMasterSharding>(Func<string, string, string, string> tableNameGetter)
    {
        var masterEntityType = typeof(TMasterSharding);
        this.Visitor.UseTableMap(this.IsIncludeMany, masterEntityType, tableNameGetter);
        return this;
    }
    public new IIncludableQuery<<#=tables#>, TMember> UseTableBy(params object[] fieldValues)
    {
        this.Visitor.UseTableBy(false, fieldValues);
        return this;
    }
    public new IIncludableQuery<<#=tables#>, TMember> UseTableByRange(object beginFieldValue, object endFieldValue)
    {
        this.Visitor.UseTableByRange(false, beginFieldValue, endFieldValue);
        return this;
    }
    public new IIncludableQuery<<#=tables#>, TMember> UseTableByRange(object field1Value, object beginField2Value, object endField2Value)
    {
        this.Visitor.UseTableByRange(false, field1Value, beginField2Value, endField2Value);
        return this;
    }
    public new IIncludableQuery<<#=tables#>, TMember> UseTableByRange(object field1Value, object field2Value, object beginField3Value, object endField3Value)
    {
        this.Visitor.UseTableByRange(false, field1Value, field2Value, beginField3Value, endField3Value);
        return this;
    }
    #endregion

    #region UseTableSchema
    public new IIncludableQuery<<#=tables#>, TMember> UseTableSchema(string tableSchema)
    {
        this.Visitor.UseTableSchema(this.IsIncludeMany, tableSchema);
        return this;
    }
    #endregion

    #region ThenInclude/ThenIncludeMany
    public virtual IIncludableQuery<<#=tables#>, TNavigation> ThenInclude<TNavigation>(Expression<Func<TMember, TNavigation>> member)
    {
        var isIncludeMany = this.Visitor.ThenInclude(member);
        return this.OrmProvider.NewIncludableQuery<<#=tables#>, TNavigation>(this.DbContext, this.Visitor, isIncludeMany);
    }
    public virtual IIncludableQuery<<#=tables#>, TElement> ThenIncludeMany<TElement>(Expression<Func<TMember, IEnumerable<TElement>>> member, Expression<Func<TElement, bool>> filter = null)
    {
        this.Visitor.ThenInclude(member, filter);
        return this.OrmProvider.NewIncludableQuery<<#=tables#>, TElement>(this.DbContext, this.Visitor, true);
    }
    #endregion
<#      }#>
}
<#  }#>