<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ import namespace="Microsoft.VisualStudio.TextTemplating"#>
<#@ output extension=".cs" #>
using System;
using System.Linq.Expressions;

namespace Trolley.PostgreSql;

public interface IPostgreSqlRepository : IRepository
{
    #region From
    /// <summary>
    /// 从表T中查询数据，如：
    /// <code>
    /// repository.From&lt;Menu&gt;()
    /// SQL:FROM "sys_menu"
    /// </code>
    /// </summary>
    /// <typeparam name="T">实体类型</typeparam>
    /// <param name="tableAsStart">表别名起始字母，默认从字母'a'开始</param>
    /// </param>
    /// <returns>返回查询对象</returns>
    new IPostgreSqlQuery<T> From<T>(char tableAsStart = 'a');
<#
    var count = 10;
    string tables = "T1";
    string currentTable = null;
    for (int i = 2; i <= count; i++)
    {
        tables += $", T{i}";
#>
    /// <summary>
    /// 使用<#=i#>个表创建查询对象
    /// </summary>
<#
        for(int j = 1; j <= i; j++)
        {
            currentTable = $"T{j}";
#>
    /// <typeparam name="<#=currentTable#>">表T<#=j#>实体类型</typeparam>
<#      }#>
    /// <param name="tableAsStart">表别名起始字母，默认值从字母a开始</param>
    /// <returns>返回查询对象</returns>
    new IPostgreSqlQuery<<#=tables#>> From<<#=tables#>>(char tableAsStart = 'a');
<#  }#>
    #endregion

    #region FromQuery
    /// <summary>
    /// 从SQL子查询中查询数据，如：
    /// <code>
    /// var subQuery = repository.From&lt;Page, Menu&gt;('o')
    ///     .Where((a, b) =&gt; a.Id == b.PageId)
    ///     .Select((x, y) =&gt; new { y.Id, y.ParentId, x.Url });
    /// repository.FromQuery(subQuery) ...
    /// SQL:
    /// ... FROM (SELECT p."Id",p."ParentId",o."Url" FROM "sys_page" o,"sys_menu" p WHERE o."Id"=p."PageId") ...
    /// </code>
    /// </summary>
    /// <typeparam name="T">表T实体类型</typeparam>
    /// <param name="subQuery">子查询</param>
    /// <returns>返回查询对象</returns>
    new IPostgreSqlQuery<T> FromQuery<T>(IQuery<T> subQuery);
    /// <summary>
    /// 从SQL子查询中查询数据，如：
    /// <code>
    /// repository.FromQuery(f =&gt; f.From&lt;Page, Menu&gt;('o').Where(...)...)
    /// var subQuery = repository.From&lt;Page, Menu&gt;('o').Where(...)...
    /// repository.FromQuery(f =&gt; f.UseQuery(subQuery)) ...    
    /// SQL: ... FROM (SELECT ... FROM "sys_page" o,"sys_menu" p WHERE ...) ...
    /// </code>
    /// </summary>
    /// <typeparam name="T">表T实体类型</typeparam>
    /// <param name="subQueryExpr">子查询表达式</param>
    /// <returns>返回查询对象</returns>
    new IPostgreSqlQuery<T> FromQuery<T>(Expression<Func<IFromQuery, IQuery<T>>> subQueryExpr);
    #endregion

    #region Create
    /// <summary>
    /// 创建TEntity类型插入对象
    /// </summary>
    /// <typeparam name="TEntity">插入实体类型</typeparam>
    /// <returns>返回插入对象</returns>
    new IPostgreSqlCreate<TEntity> Create<TEntity>();
    #endregion

    #region Update
    /// <summary>
    /// 创建TEntity类型更新对象
    /// </summary>
    /// <typeparam name="TEntity">更新实体类型</typeparam>
    /// <returns>返回更新对象</returns>
    new IPostgreSqlUpdate<TEntity> Update<TEntity>();
    #endregion

    #region Delete
    /// <summary>
    /// 创建TEntity类型删除对象
    /// </summary>
    /// <typeparam name="TEntity">更新实体类型</typeparam>
    /// <returns>返回删除对象</returns>
    new IPostgreSqlDelete<TEntity> Delete<TEntity>();
    #endregion
}