<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ import namespace="Microsoft.VisualStudio.TextTemplating"#>
<#@ output extension=".cs" #>
using System;
using System.Collections.Generic;
using System.Linq.Expressions;

namespace Trolley;

<#
    var count = 16;
    var tables = "T1";
    var cteQueryTables = "IMultiQuery<T1>";
    for (int i = 2; i <= count; i++)
    {
        tables += $", T{i}";
        cteQueryTables += $", IMultiQuery<T{i}>";
#>
public class MultiQuery<<#=tables#>> : MultiQueryBase, IMultiQuery<<#=tables#>>
{
    #region Constructor
    public MultiQuery(IMultipleQuery multiQuery, IQueryVisitor visitor)
        : base(multiQuery, visitor) { }
    #endregion

    #region Sharding
    public virtual IMultiQuery<<#=tables#>> UseTable(params string[] tableNames)
    {
        this.Visitor.UseTable(TableShardingUsageMode.ReadOnly, false, tableNames);
        return this;
    }
    public virtual IMultiQuery<<#=tables#>> UseTableMap(Func<string, string, string, string> tableNameGetter)
    {
        this.Visitor.UseTableMap(TableShardingUsageMode.ReadOnly, false, tableNameGetter);
        return this;
    }
    public virtual IMultiQuery<<#=tables#>> UseTableBy(params object[] fieldValues)
    {
        this.Visitor.UseTableBy(TableShardingUsageMode.ReadOnly, false, fieldValues);
        return this;
    }
    public virtual IMultiQuery<<#=tables#>> UseTableByRange(params object[] fieldValues)
    {
        this.Visitor.UseTableByRange(TableShardingUsageMode.ReadOnly, false, fieldValues);
        return this;
    }
    public virtual IMultiQuery<<#=tables#>> UseUnionShardingTable()
    {
        this.Visitor.UseUnionShardingTable();
        return this;
    }
    #endregion

    #region UseTableSchema
    public virtual IMultiQuery<<#=tables#>> UseTableSchema(string tableSchema)
    {
        this.Visitor.UseTableSchema(false, tableSchema);
        return this;
    }
    #endregion

<#        
        if(i < count)
        {
#>
    #region WithTable
    public virtual IMultiQuery<<#=tables#>, TOther> WithTable<TOther>()
    {
        this.Visitor.AddTable(typeof(TOther));
        return this.OrmProvider.NewMultiQuery<<#=tables#>, TOther>(this.MultipleQuery, this.Visitor);
    }
    #endregion

    #region WithQuery
    public virtual IMultiQuery<<#=tables#>, TOther> WithQuery<TOther>(IQuery<TOther> subQuery)
    {
        base.WithQueryInternal(subQuery);
        return this.OrmProvider.NewMultiQuery<<#=tables#>, TOther>(this.MultipleQuery, this.Visitor);
    }
    public virtual IMultiQuery<<#=tables#>, TOther> WithQuery<TOther>(Expression<Func<IFromQuery, IQuery<TOther>>> subQueryExpr)
    {
        base.WithQueryInternal(subQueryExpr);
        return this.OrmProvider.NewMultiQuery<<#=tables#>, TOther>(this.MultipleQuery, this.Visitor);
    }
    #endregion

<#      }#>
    #region InnerJoin
    public virtual IMultiQuery<<#=tables#>> InnerJoin(Expression<Func<<#=tables#>, bool>> joinOn)
    {
        base.InnerJoinInternal(joinOn);
        return this;
    }
<#
        if(i < count)
        {
#>
    public virtual IMultiQuery<<#=tables#>, TOther> InnerJoin<TOther>(Expression<Func<<#=tables#>, TOther, bool>> joinOn)
    {
        base.InnerJoinInternal(typeof(TOther), joinOn);
        return this.OrmProvider.NewMultiQuery<<#=tables#>, TOther>(this.MultipleQuery, this.Visitor);
    }
    public virtual IMultiQuery<<#=tables#>, TOther> InnerJoin<TOther>(IQuery<TOther> subQuery, Expression<Func<<#=tables#>, TOther, bool>> joinOn)
    {
        base.InnerJoinInternal(subQuery, joinOn);
        return this.OrmProvider.NewMultiQuery<<#=tables#>, TOther>(this.MultipleQuery, this.Visitor);
    }
    public virtual IMultiQuery<<#=tables#>, TOther> InnerJoin<TOther>(Expression<Func<IFromQuery, IQuery<TOther>>> subQueryExpr, Expression<Func<<#=tables#>, TOther, bool>> joinOn)
    {
        base.InnerJoinInternal(subQueryExpr, joinOn);
        return this.OrmProvider.NewMultiQuery<<#=tables#>, TOther>(this.MultipleQuery, this.Visitor);
    }
<#      }#>
    #endregion

    #region LeftJoin
    public virtual IMultiQuery<<#=tables#>> LeftJoin(Expression<Func<<#=tables#>, bool>> joinOn)
    {
        base.LeftJoinInternal(joinOn);
        return this;
    }
<#
        if(i < count)
        {
#>
    public virtual IMultiQuery<<#=tables#>, TOther> LeftJoin<TOther>(Expression<Func<<#=tables#>, TOther, bool>> joinOn)
    {
        base.LeftJoinInternal(typeof(TOther), joinOn);
        return this.OrmProvider.NewMultiQuery<<#=tables#>, TOther>(this.MultipleQuery, this.Visitor);
    }
    public virtual IMultiQuery<<#=tables#>, TOther> LeftJoin<TOther>(IQuery<TOther> subQuery, Expression<Func<<#=tables#>, TOther, bool>> joinOn)
    {
        base.LeftJoinInternal(subQuery, joinOn);
        return this.OrmProvider.NewMultiQuery<<#=tables#>, TOther>(this.MultipleQuery, this.Visitor);
    }
    public virtual IMultiQuery<<#=tables#>, TOther> LeftJoin<TOther>(Expression<Func<IFromQuery, IQuery<TOther>>> subQueryExpr, Expression<Func<<#=tables#>, TOther, bool>> joinOn)
    {
        base.LeftJoinInternal(subQueryExpr, joinOn);
        return this.OrmProvider.NewMultiQuery<<#=tables#>, TOther>(this.MultipleQuery, this.Visitor);
    }
<#      }#>
    #endregion

    #region RightJoin
    public virtual IMultiQuery<<#=tables#>> RightJoin(Expression<Func<<#=tables#>, bool>> joinOn)
    {
        base.RightJoinInternal(joinOn);
        return this;
    }
<#
        if(i < count)
        {
#>
    public virtual IMultiQuery<<#=tables#>, TOther> RightJoin<TOther>(Expression<Func<<#=tables#>, TOther, bool>> joinOn)
    {
        base.RightJoinInternal(typeof(TOther), joinOn);
        return this.OrmProvider.NewMultiQuery<<#=tables#>, TOther>(this.MultipleQuery, this.Visitor);
    }
    public virtual IMultiQuery<<#=tables#>, TOther> RightJoin<TOther>(IQuery<TOther> subQuery, Expression<Func<<#=tables#>, TOther, bool>> joinOn)
    {
        base.RightJoinInternal(subQuery, joinOn);
        return this.OrmProvider.NewMultiQuery<<#=tables#>, TOther>(this.MultipleQuery, this.Visitor);
    }
    public virtual IMultiQuery<<#=tables#>, TOther> RightJoin<TOther>(Expression<Func<IFromQuery, IQuery<TOther>>> subQueryExpr, Expression<Func<<#=tables#>, TOther, bool>> joinOn)
    {
        base.RightJoinInternal(subQueryExpr, joinOn);
        return this.OrmProvider.NewMultiQuery<<#=tables#>, TOther>(this.MultipleQuery, this.Visitor);
    }
<#      }#>
    #endregion

    #region Include
    public virtual IMultiIncludableQuery<<#=tables#>, TMember> Include<TMember>(Expression<Func<<#=tables#>, TMember>> memberSelector)
    {
        var isIncludeMany = base.IncludeInternal<TMember>(memberSelector);
        return this.OrmProvider.NewMultiIncludableQuery<<#=tables#>, TMember>(this.MultipleQuery, this.Visitor, isIncludeMany);
    }
    public virtual IMultiIncludableQuery<<#=tables#>, TElement> IncludeMany<TElement>(Expression<Func<<#=tables#>, IEnumerable<TElement>>> memberSelector, Expression<Func<TElement, bool>> filter = null)
    {
        base.IncludeManyInternal<TElement>(memberSelector);
        return this.OrmProvider.NewMultiIncludableQuery<<#=tables#>, TElement>(this.MultipleQuery, this.Visitor, true);
    }
    #endregion

    #region Where
    public virtual IMultiQuery<<#=tables#>> Where(Expression<Func<<#=tables#>, bool>> predicate) => this.And(true, predicate);
    public virtual IMultiQuery<<#=tables#>> Where(bool condition, Expression<Func<<#=tables#>, bool>> ifPredicate, Expression<Func<<#=tables#>, bool>> elsePredicate = null)
        => this.And(condition, ifPredicate, elsePredicate);
    public virtual IMultiQuery<<#=tables#>> WherePredicate(Func<PredicateBuilder<<#=tables#>>, Expression<Func<<#=tables#>, bool>>> predicateInitializer)
        => this.AndPredicate(predicateInitializer);
    #endregion

    #region And
    public virtual IMultiQuery<<#=tables#>> And(Expression<Func<<#=tables#>, bool>> predicate)
    {
        base.AndInternal(predicate);
        return this;
    }
    public virtual IMultiQuery<<#=tables#>> And(bool condition, Expression<Func<<#=tables#>, bool>> ifPredicate, Expression<Func<<#=tables#>, bool>> elsePredicate = null)
    {
        base.AndInternal(condition, ifPredicate, elsePredicate);
        return this;
    }
    public virtual IMultiQuery<<#=tables#>> AndPredicate(Func<PredicateBuilder<<#=tables#>>, Expression<Func<<#=tables#>, bool>>> predicateInitializer)
    {
        if (predicateInitializer == null)
            throw new ArgumentNullException(nameof(predicateInitializer));
        var builder = new PredicateBuilder<<#=tables#>>();
        return this.And(predicateInitializer.Invoke(builder));
    }
    #endregion

    #region Or
    public virtual IMultiQuery<<#=tables#>> Or(Expression<Func<<#=tables#>, bool>> predicate)
    {
        base.OrInternal(predicate);
        return this;
    }
    public virtual IMultiQuery<<#=tables#>> Or(bool condition, Expression<Func<<#=tables#>, bool>> ifPredicate, Expression<Func<<#=tables#>, bool>> elsePredicate = null)
    {
        base.OrInternal(condition, ifPredicate, elsePredicate);
        return this;
    }
    public virtual IMultiQuery<<#=tables#>> OrPredicate(Func<PredicateBuilder<<#=tables#>>, Expression<Func<<#=tables#>, bool>>> predicateInitializer)
    {
        if (predicateInitializer == null)
            throw new ArgumentNullException(nameof(predicateInitializer));
        var builder = new PredicateBuilder<<#=tables#>>();
        return this.Or(predicateInitializer.Invoke(builder));
    }
    #endregion

    #region GroupBy
    public virtual IMultiGroupingQuery<<#=tables#>, TGrouping> GroupBy<TGrouping>(Expression<Func<<#=tables#>, TGrouping>> groupingExpr)
    {
        base.GroupByInternal(groupingExpr);
        return this.OrmProvider.NewMultiGroupingQuery<<#=tables#>, TGrouping>(this.MultipleQuery, this.Visitor);
    }
    #endregion

    #region OrderBy
    public virtual IMultiQuery<<#=tables#>> OrderBy<TFields>(Expression<Func<<#=tables#>, TFields>> fieldsExpr)
        => this.OrderBy(true, fieldsExpr);
    public virtual IMultiQuery<<#=tables#>> OrderBy<TFields>(bool condition, Expression<Func<<#=tables#>, TFields>> fieldsExpr)
    {
        base.OrderByInternal(condition, fieldsExpr);
        return this;
    }
    public virtual IMultiQuery<<#=tables#>> OrderByDescending<TFields>(Expression<Func<<#=tables#>, TFields>> fieldsExpr)
        => this.OrderByDescending(true, fieldsExpr);
    public virtual IMultiQuery<<#=tables#>> OrderByDescending<TFields>(bool condition, Expression<Func<<#=tables#>, TFields>> fieldsExpr)
    {
        base.OrderByDescendingInternal(condition, fieldsExpr);
        return this;
    }
    public virtual IMultiQuery<<#=tables#>> OrderByDynamic(Func<OrderByBuilder<<#=tables#>>, Expression> fieldsGetter)
    {
        var builder = new OrderByBuilder<<#=tables#>>();
        var fieldsExpr = fieldsGetter.Invoke(builder);
        base.OrderByDynamic(builder.IsAscending, fieldsExpr);
        return this;
    }
    #endregion

    #region Skip/Take/Page
    public virtual IMultiQuery<<#=tables#>> Skip(int offset)
    {
        base.SkipInternal(offset);
        return this;
    }
    public virtual IMultiQuery<<#=tables#>> Take(int limit)
    {
        base.TakeInternal(limit);
        return this;
    }
    public virtual IMultiQuery<<#=tables#>> Page(int pageNumber, int pageSize)
    {
        base.PageInternal(pageNumber, pageSize);
        return this;
    }
    #endregion

    #region Select
    public virtual IMultiQuery<TTarget> Select<TTarget>(string rawFields)
    {
        base.SelectRawInternal(typeof(TTarget), rawFields);
        return this.OrmProvider.NewMultiQuery<TTarget>(this.MultipleQuery, this.Visitor);
    }
    public virtual IMultiQuery<TTarget> Select<TTarget>(Expression<Func<<#=tables#>, TTarget>> fieldsExpr)
    {
        base.SelectInternal(fieldsExpr);
        return this.OrmProvider.NewMultiQuery<TTarget>(this.MultipleQuery, this.Visitor);
    }
    public virtual IMultiQuery<TTarget> SelectTo<TTarget>(Expression<Func<<#=tables#>, TTarget>> specialMemberSelector = null)
    {
        this.Visitor.SelectTo(typeof(TTarget), specialMemberSelector);
        return this.OrmProvider.NewMultiQuery<TTarget>(this.MultipleQuery, this.Visitor);
    }
    #endregion

    #region Count
    public virtual IMultipleQuery Count<TField>(Expression<Func<<#=tables#>, TField>> fieldExpr)
        => base.CountInternal(fieldExpr);
    public virtual IMultipleQuery CountDistinct<TField>(Expression<Func<<#=tables#>, TField>> fieldExpr)
        => base.CountDistinctInternal(fieldExpr);
    public virtual IMultipleQuery LongCount<TField>(Expression<Func<<#=tables#>, TField>> fieldExpr)
        => base.LongCountInternal(fieldExpr);
    public virtual IMultipleQuery LongCountDistinct<TField>(Expression<Func<<#=tables#>, TField>> fieldExpr)
        => base.LongCountDistinctInternal(fieldExpr);
    #endregion

    #region Aggregate
    public virtual IMultipleQuery Sum<TField>(Expression<Func<<#=tables#>, TField>> fieldExpr)
        => base.SumInternal<TField>(fieldExpr);
    public virtual IMultipleQuery Avg<TField>(Expression<Func<<#=tables#>, TField>> fieldExpr)
        => base.AvgInternal<TField>(fieldExpr);
    public virtual IMultipleQuery Max<TField>(Expression<Func<<#=tables#>, TField>> fieldExpr)
        => base.MaxInternal<TField>(fieldExpr);
    public virtual IMultipleQuery Min<TField>(Expression<Func<<#=tables#>, TField>> fieldExpr)
        => base.MinInternal<TField>(fieldExpr);
    #endregion
}
<#  }#>