<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ import namespace="Microsoft.VisualStudio.TextTemplating"#>
<#@ output extension=".cs" #>
using System;
using System.Linq.Expressions;

namespace Trolley.MySqlConnector;

public class MySqlFromCommand<T> : FromCommand<T>, IMySqlFromCommand<T>
{
    #region Constructor
    public MySqlFromCommand(DbContext dbContext, IQueryVisitor visitor)
        : base(dbContext, visitor) { }
    #endregion

    #region Sharding
    public new IMySqlFromCommand<T> UseTable(params string[] tableNames)
        => base.UseTable(tableNames) as IMySqlFromCommand<T>;
    public new IMySqlFromCommand<T> UseTable(Func<string, bool> tableNamePredicate)
        => base.UseTable(tableNamePredicate) as IMySqlFromCommand<T>;
    public new IMySqlFromCommand<T> UseTableBy(params object[] fieldValues)
        => base.UseTableBy(fieldValues) as IMySqlFromCommand<T>;
    public new IMySqlFromCommand<T> UseTableByRange(object beginFieldValue, object endFieldValue)
        => base.UseTableBy(beginFieldValue, endFieldValue) as IMySqlFromCommand<T>;
    public new IMySqlFromCommand<T> UseTableByRange(object field1Value, object beginField2Value, object endField2Value)
        => base.UseTableByRange(field1Value, beginField2Value, endField2Value) as IMySqlFromCommand<T>;
    public new IMySqlFromCommand<T> UseTableByRange(object field1Value, object field2Value, object beginField3Value, object endField3Value)
        => base.UseTableByRange(field1Value, field2Value, beginField3Value, endField3Value) as IMySqlFromCommand<T>;
    #endregion

    #region UseTableSchema
    public new IMySqlFromCommand<T> UseTableSchema(string tableSchema)
        => base.UseTableSchema(tableSchema) as IMySqlFromCommand<T>;
    #endregion

    #region Union/UnionAll
    public new IMySqlFromCommand<T> Union(IQuery<T> subQuery)
    {
        base.UnionInternal(subQuery);
        return this;
    }
    public new IMySqlFromCommand<T> Union(Func<IFromQuery, IQuery<T>> subQueryGetter)
    {
        base.UnionInternal(subQueryGetter);
        return this;
    }
    public new IMySqlFromCommand<T> UnionAll(IQuery<T> subQuery)
    {
        base.UnionAllInternal(subQuery);
        return this;
    }
    public new IMySqlFromCommand<T> UnionAll(Func<IFromQuery, IQuery<T>> subQueryGetter)
    {
        base.UnionAllInternal(subQueryGetter);
        return this;
    }
    public new IMySqlFromCommand<T> UnionRecursive(Func<IFromQuery, IQuery<T>, IQuery<T>> subQueryGetter)
    {
        base.UnionRecursiveInternal(subQueryGetter);
        return this;
    }
    public new IMySqlFromCommand<T> UnionAllRecursive(Func<IFromQuery, IQuery<T>, IQuery<T>> subQueryGetter)
    {
        base.UnionAllRecursiveInternal(subQueryGetter);
        return this;
    }
    #endregion

    #region WithTable
    public new IMySqlFromCommand<T, TOther> WithTable<TOther>()
        => base.WithTable<TOther>() as IMySqlFromCommand<T, TOther>;
    #endregion

    #region WithQuery
    public new IMySqlFromCommand<T, TOther> WithQuery<TOther>(IQuery<TOther> subQuery)
        => base.WithQuery(subQuery) as IMySqlFromCommand<T, TOther>;
    public new IMySqlFromCommand<T, TOther> WithQuery<TOther>(Func<IFromQuery, IQuery<TOther>> subQueryGetter)
        => base.WithQuery(subQueryGetter) as IMySqlFromCommand<T, TOther>;
    #endregion

    #region InnerJoin
    public new IMySqlFromCommand<T, TOther> InnerJoin<TOther>(Expression<Func<T, TOther, bool>> joinOn)
        => base.InnerJoin(joinOn) as IMySqlFromCommand<T, TOther>;
    public new IMySqlFromCommand<T, TOther> InnerJoin<TOther>(IQuery<TOther> subQuery, Expression<Func<T, TOther, bool>> joinOn)
        => base.InnerJoin(subQuery, joinOn) as IMySqlFromCommand<T, TOther>;
    public new IMySqlFromCommand<T, TOther> InnerJoin<TOther>(Func<IFromQuery, IQuery<TOther>> subQueryGetter, Expression<Func<T, TOther, bool>> joinOn)
        => base.InnerJoin(subQueryGetter, joinOn) as IMySqlFromCommand<T, TOther>;
    #endregion

    #region LeftJoin
    public new IMySqlFromCommand<T, TOther> LeftJoin<TOther>(Expression<Func<T, TOther, bool>> joinOn)
        => base.LeftJoin(joinOn) as IMySqlFromCommand<T, TOther>;
    public new IMySqlFromCommand<T, TOther> LeftJoin<TOther>(IQuery<TOther> subQuery, Expression<Func<T, TOther, bool>> joinOn)
        => base.LeftJoin(subQuery, joinOn) as IMySqlFromCommand<T, TOther>;
    public new IMySqlFromCommand<T, TOther> LeftJoin<TOther>(Func<IFromQuery, IQuery<TOther>> subQueryGetter, Expression<Func<T, TOther, bool>> joinOn)
        => base.LeftJoin(subQueryGetter, joinOn) as IMySqlFromCommand<T, TOther>;
    #endregion

    #region RightJoin
    public new IMySqlFromCommand<T, TOther> RightJoin<TOther>(Expression<Func<T, TOther, bool>> joinOn)
        => base.RightJoin(joinOn) as IMySqlFromCommand<T, TOther>; 
    public new IMySqlFromCommand<T, TOther> RightJoin<TOther>(IQuery<TOther> subQuery, Expression<Func<T, TOther, bool>> joinOn)
        => base.RightJoin(subQuery, joinOn) as IMySqlFromCommand<T, TOther>; 
    public new IMySqlFromCommand<T, TOther> RightJoin<TOther>(Func<IFromQuery, IQuery<TOther>> subQueryGetter, Expression<Func<T, TOther, bool>> joinOn)
        => base.RightJoin(subQueryGetter, joinOn) as IMySqlFromCommand<T, TOther>;
    #endregion

    #region Where
    public new IMySqlFromCommand<T> Where(Expression<Func<T, bool>> predicate)
    {
        base.WhereInternal(predicate);
        return this;
    }
    public new IMySqlFromCommand<T> Where(bool condition, Expression<Func<T, bool>> ifPredicate, Expression<Func<T, bool>> elsePredicate = null)
    {
        base.WhereInternal(condition, ifPredicate, elsePredicate);
        return this;
    }
    #endregion

    #region And
    public new IMySqlFromCommand<T> And(Expression<Func<T, bool>> predicate)
    {
        base.AndInternal(predicate);
        return this;
    }
    public new IMySqlFromCommand<T> And(bool condition, Expression<Func<T, bool>> ifPredicate, Expression<Func<T, bool>> elsePredicate = null)
    {
        base.AndInternal(condition, ifPredicate, elsePredicate);
        return this;
    }
    #endregion

    #region Or
    public new IMySqlFromCommand<T> Or(Expression<Func<T, bool>> predicate)
    {
        base.OrInternal(predicate);
        return this;
    }
    public new IMySqlFromCommand<T> Or(bool condition, Expression<Func<T, bool>> ifPredicate, Expression<Func<T, bool>> elsePredicate = null)
    {
        base.OrInternal(condition, ifPredicate, elsePredicate);
        return this;
    }
    #endregion

    #region GroupBy
    public new IMySqlGroupingCommand<T, TGrouping> GroupBy<TGrouping>(Expression<Func<T, TGrouping>> groupingExpr)
        => base.GroupBy(groupingExpr) as IMySqlGroupingCommand<T, TGrouping>;
    #endregion

    #region OrderBy
    public new IMySqlFromCommand<T> OrderBy<TFields>(Expression<Func<T, TFields>> fieldsExpr)
         => this.OrderBy(true, fieldsExpr);
    public new IMySqlFromCommand<T> OrderBy<TFields>(bool condition, Expression<Func<T, TFields>> fieldsExpr)
    {
        base.OrderByInternal(condition, fieldsExpr);
        return this;
    }
    public new IMySqlFromCommand<T> OrderByDescending<TFields>(Expression<Func<T, TFields>> fieldsExpr)
        => this.OrderByDescending(true, fieldsExpr);
    public new IMySqlFromCommand<T> OrderByDescending<TFields>(bool condition, Expression<Func<T, TFields>> fieldsExpr)
    {
        base.OrderByDescendingInternal(condition, fieldsExpr);
        return this;
    }
    #endregion

    #region Skip/Take/Page
    public new IMySqlFromCommand<T> Skip(int offset)
        => base.Skip(offset) as IMySqlFromCommand<T>;
    public new IMySqlFromCommand<T> Take(int limit)
        => base.Take(limit) as IMySqlFromCommand<T>;
    public new IMySqlFromCommand<T> Page(int pageNumber, int pageSize)
        => base.Page(pageNumber, pageSize) as IMySqlFromCommand<T>;
    #endregion

    #region Select
    public new IMySqlFromCommand<T> Select(string fields = "*")
        => base.Select(fields) as IMySqlFromCommand<T>;
    public new IMySqlFromCommand<TTarget> Select<TTarget>(Expression<Func<T, TTarget>> fieldsExpr)
        => base.Select(fieldsExpr) as IMySqlFromCommand<TTarget>;    
    public new IMySqlFromCommand<TTarget> SelectFlattenTo<TTarget>(Expression<Func<T, TTarget>> specialMemberSelector = null)
        => base.SelectFlattenTo(specialMemberSelector) as IMySqlFromCommand<TTarget>;
    public new IMySqlFromCommand<TTarget> SelectAggregate<TTarget>(Expression<Func<IAggregateSelect, T, TTarget>> fieldsExpr)
        => base.SelectAggregate(fieldsExpr) as IMySqlFromCommand<TTarget>;
    #endregion

    #region Distinct
    public new IMySqlFromCommand<T> Distinct()
    {
        this.Visitor.Distinct();
        return this;
    }
    #endregion

    #region OnDuplicateKeyUpdate
    public IMySqlFromContinuedCreate<T> OnDuplicateKeyUpdate<TUpdateFields>(TUpdateFields updateObj)
    {
        var sql = this.Visitor.BuildCommandSql(out _);
        var visitor = this.NewCreateVisitor(sql);
        visitor.OnDuplicateKeyUpdate(updateObj);
        return new MySqlFromContinuedCreate<T>(this.DbContext, visitor);
    }
    public IMySqlFromContinuedCreate<T> OnDuplicateKeyUpdate<TUpdateFields>(Expression<Func<IMySqlCreateDuplicateKeyUpdate<T>, TUpdateFields>> fieldsAssignment)
    {
        var sql = this.Visitor.BuildCommandSql(out _);
        var visitor = this.NewCreateVisitor(sql);
        visitor.OnDuplicateKeyUpdate(fieldsAssignment);
        return new MySqlFromContinuedCreate<T>(this.DbContext, visitor);
    }
    #endregion

    #region Returnning
    public IMySqlBulkCreated<T, TResult> Returning<TResult>(string fieldNames)
    {
        var sql = this.Visitor.BuildCommandSql(out _);
        var visitor = this.NewCreateVisitor(sql);
        visitor.Returning(fieldNames);
        return new MySqlBulkCreated<T, TResult>(this.DbContext, visitor);
    }
    public IMySqlBulkCreated<T, TResult> Returning<TResult>(Expression<Func<T, TResult>> fieldsSelector)
    {
        var sql = this.Visitor.BuildCommandSql(out _);
        var visitor = this.NewCreateVisitor(sql);
        visitor.Returning(fieldsSelector);
        return new MySqlBulkCreated<T, TResult>(this.DbContext, visitor);
    }
    #endregion

    protected virtual MySqlCreateVisitor NewCreateVisitor(string fromSql)
    {
        var createVisiter = new MySqlCreateVisitor(this.DbContext, this.Visitor.TableAsStart);
        createVisiter.Tables = this.Visitor.Tables;
        createVisiter.IsMultiple = this.Visitor.IsMultiple;
        createVisiter.CommandIndex = this.Visitor.CommandIndex;
        createVisiter.RefQueries = this.Visitor.RefQueries;
        createVisiter.ShardingTables = this.Visitor.ShardingTables;
        createVisiter.DbParameters = this.Visitor.DbParameters;
        createVisiter.FromSql = fromSql;
        return createVisiter;
    }
}
<#
    var count = 6;
    var tables = "T1";
    var currentTable = "T1";
    for (int i = 2; i <= count; i++)
    {
        tables += $", T{i}";
        currentTable = $"T{i}";
#>
public class MySqlFromCommand<<#=tables#>> : FromCommand<<#=tables#>>, IMySqlFromCommand<<#=tables#>>
{
    #region Constructor
    public MySqlFromCommand(DbContext dbContext, IQueryVisitor visitor)
        : base(dbContext, visitor) { }
    #endregion

    #region Sharding
    public new IMySqlFromCommand<<#=tables#>> UseTable(params string[] tableNames)
        => base.UseTable(tableNames) as IMySqlFromCommand<<#=tables#>>;
    public new IMySqlFromCommand<<#=tables#>> UseTable(Func<string, bool> tableNamePredicate)
        => base.UseTable(tableNamePredicate) as IMySqlFromCommand<<#=tables#>>;
    public new IMySqlFromCommand<<#=tables#>> UseTableBy(params object[] fieldValues)
        => base.UseTableBy(fieldValues) as IMySqlFromCommand<<#=tables#>>;
    public new IMySqlFromCommand<<#=tables#>> UseTableByRange(object beginFieldValue, object endFieldValue)
        => base.UseTableBy(beginFieldValue, endFieldValue) as IMySqlFromCommand<<#=tables#>>;
    public new IMySqlFromCommand<<#=tables#>> UseTableByRange(object field1Value, object beginField2Value, object endField2Value)
        => base.UseTableByRange(field1Value, beginField2Value, endField2Value) as IMySqlFromCommand<<#=tables#>>;
    public new IMySqlFromCommand<<#=tables#>> UseTableByRange(object field1Value, object field2Value, object beginField3Value, object endField3Value)
        => base.UseTableByRange(field1Value, field2Value, beginField3Value, endField3Value) as IMySqlFromCommand<<#=tables#>>;
    #endregion

    #region UseTableSchema
    public new IMySqlFromCommand<<#=tables#>> UseTableSchema(string tableSchema)
        => base.UseTableSchema(tableSchema) as IMySqlFromCommand<<#=tables#>>;
    #endregion
<#
        if(i < count)
        {
#>
    #region WithTable
    public new IMySqlFromCommand<<#=tables#>, TOther> WithTable<TOther>()
        => base.WithTable<TOther>() as IMySqlFromCommand<<#=tables#>, TOther>;
    #endregion

    #region WithQuery
    public new IMySqlFromCommand<<#=tables#>, TOther> WithQuery<TOther>(IQuery<TOther> subQuery)
        => base.WithQuery(subQuery) as IMySqlFromCommand<<#=tables#>, TOther>;
    public new IMySqlFromCommand<<#=tables#>, TOther> WithQuery<TOther>(Func<IFromQuery, IQuery<TOther>> subQueryGetter)
        => base.WithQuery(subQueryGetter) as IMySqlFromCommand<<#=tables#>, TOther>;

    #endregion
<#      }#>

    #region InnerJoin
    public new IMySqlFromCommand<<#=tables#>> InnerJoin(Expression<Func<<#=tables#>, bool>> joinOn)
        => base.InnerJoin(joinOn) as IMySqlFromCommand<<#=tables#>>;
<#
        if( i < count)
        {
#>
    public new IMySqlFromCommand<<#=tables#>, TOther> InnerJoin<TOther>(Expression<Func<<#=tables#>, TOther, bool>> joinOn)
        => base.InnerJoin(joinOn) as IMySqlFromCommand<<#=tables#>, TOther>;
    public new IMySqlFromCommand<<#=tables#>, TOther> InnerJoin<TOther>(IQuery<TOther> subQuery, Expression<Func<<#=tables#>, TOther, bool>> joinOn)
        => base.InnerJoin(subQuery, joinOn) as IMySqlFromCommand<<#=tables#>, TOther>;
    public new IMySqlFromCommand<<#=tables#>, TOther> InnerJoin<TOther>(Func<IFromQuery, IQuery<TOther>> subQueryGetter, Expression<Func<<#=tables#>, TOther, bool>> joinOn)
        => base.InnerJoin(subQueryGetter, joinOn) as IMySqlFromCommand<<#=tables#>, TOther>;
<#      }#>
    #endregion

    #region LeftJoin
    public new IMySqlFromCommand<<#=tables#>> LeftJoin(Expression<Func<<#=tables#>, bool>> joinOn)
        => base.LeftJoin(joinOn) as IMySqlFromCommand<<#=tables#>>;
<#
        if( i < count)
        {
#>
    public new IMySqlFromCommand<<#=tables#>, TOther> LeftJoin<TOther>(Expression<Func<<#=tables#>, TOther, bool>> joinOn)
        => base.LeftJoin(joinOn) as IMySqlFromCommand<<#=tables#>, TOther>;
    public new IMySqlFromCommand<<#=tables#>, TOther> LeftJoin<TOther>(IQuery<TOther> subQuery, Expression<Func<<#=tables#>, TOther, bool>> joinOn)
        => base.LeftJoin(subQuery, joinOn) as IMySqlFromCommand<<#=tables#>, TOther>;
    public new IMySqlFromCommand<<#=tables#>, TOther> LeftJoin<TOther>(Func<IFromQuery, IQuery<TOther>> subQueryGetter, Expression<Func<<#=tables#>, TOther, bool>> joinOn)
        => base.LeftJoin(subQueryGetter, joinOn) as IMySqlFromCommand<<#=tables#>, TOther>;
<#      }#>
    #endregion

    #region RightJoin
    public new IMySqlFromCommand<<#=tables#>> RightJoin(Expression<Func<<#=tables#>, bool>> joinOn)
        => base.RightJoin(joinOn) as IMySqlFromCommand<<#=tables#>>;
<#
        if( i < count)
        {
#>
    public new IMySqlFromCommand<<#=tables#>, TOther> RightJoin<TOther>(Expression<Func<<#=tables#>, TOther, bool>> joinOn)
        => base.RightJoin(joinOn) as IMySqlFromCommand<<#=tables#>, TOther>;
    public new IMySqlFromCommand<<#=tables#>, TOther> RightJoin<TOther>(IQuery<TOther> subQuery, Expression<Func<<#=tables#>, TOther, bool>> joinOn)
        => base.RightJoin(subQuery, joinOn) as IMySqlFromCommand<<#=tables#>, TOther>;
    public new IMySqlFromCommand<<#=tables#>, TOther> RightJoin<TOther>(Func<IFromQuery, IQuery<TOther>> subQueryGetter, Expression<Func<<#=tables#>, TOther, bool>> joinOn)
        => base.RightJoin(subQueryGetter, joinOn) as IMySqlFromCommand<<#=tables#>, TOther>;
<#      }#>
    #endregion

    #region Where
    public new IMySqlFromCommand<<#=tables#>> Where(Expression<Func<<#=tables#>, bool>> predicate)
    {
        base.WhereInternal(predicate);
        return this;
    }
    public new IMySqlFromCommand<<#=tables#>> Where(bool condition, Expression<Func<<#=tables#>, bool>> ifPredicate, Expression<Func<<#=tables#>, bool>> elsePredicate = null)
    {
        base.WhereInternal(condition, ifPredicate, elsePredicate);
        return this;
    }
    #endregion

    #region And
    public new IMySqlFromCommand<<#=tables#>> And(Expression<Func<<#=tables#>, bool>> predicate)
    {
        base.AndInternal(predicate);
        return this;
    }
    public new IMySqlFromCommand<<#=tables#>> And(bool condition, Expression<Func<<#=tables#>, bool>> ifPredicate = null, Expression<Func<<#=tables#>, bool>> elsePredicate = null)
    {
        base.AndInternal(condition, ifPredicate, elsePredicate);
        return this;
    }
    #endregion

    #region Or
    public new IMySqlFromCommand<<#=tables#>> Or(Expression<Func<<#=tables#>, bool>> predicate)
    {
        base.OrInternal(predicate);
        return this;
    }
    public new IMySqlFromCommand<<#=tables#>> Or(bool condition, Expression<Func<<#=tables#>, bool>> ifPredicate = null, Expression<Func<<#=tables#>, bool>> elsePredicate = null)
    {
        base.OrInternal(condition, ifPredicate, elsePredicate);
        return this;
    }
    #endregion

    #region GroupBy
    public new IMySqlGroupingCommand<<#=tables#>, TGrouping> GroupBy<TGrouping>(Expression<Func<<#=tables#>, TGrouping>> groupingExpr)
        => base.GroupBy(groupingExpr) as IMySqlGroupingCommand<<#=tables#>, TGrouping>;
    #endregion

    #region OrderBy
    public new IMySqlFromCommand<<#=tables#>> OrderBy<TFields>(Expression<Func<<#=tables#>, TFields>> fieldsExpr)
        => this.OrderBy(true, fieldsExpr);
    public new IMySqlFromCommand<<#=tables#>> OrderBy<TFields>(bool condition, Expression<Func<<#=tables#>, TFields>> fieldsExpr)
    {
        base.OrderByInternal(condition, fieldsExpr);
        return this;
    }
    public new IMySqlFromCommand<<#=tables#>> OrderByDescending<TFields>(Expression<Func<<#=tables#>, TFields>> fieldsExpr)
        => this.OrderByDescending(true, fieldsExpr);
    public new IMySqlFromCommand<<#=tables#>> OrderByDescending<TFields>(bool condition, Expression<Func<<#=tables#>, TFields>> fieldsExpr)
    {
        base.OrderByDescendingInternal(condition, fieldsExpr);
        return this;
    }
    #endregion

    #region Skip/Take/Page
    public new IMySqlFromCommand<<#=tables#>> Skip(int offset)
    {
        base.SkipInternal(offset);
        return this;
    }
    public new IMySqlFromCommand<<#=tables#>> Take(int limit)
    {
        base.TakeInternal(limit);
        return this;
    }
    public new IMySqlFromCommand<<#=tables#>> Page(int pageNumber, int pageSize)
    {
        base.PageInternal(pageNumber, pageSize);
        return this;
    }
    #endregion

    #region Select
    public new IMySqlFromCommand<TTarget> Select<TTarget>(Expression<Func<<#=tables#>, TTarget>> fieldsExpr)
        => base.Select(fieldsExpr) as IMySqlFromCommand<TTarget>;
    public new IMySqlFromCommand<TTarget> SelectFlattenTo<TTarget>(Expression<Func<<#=tables#>, TTarget>> specialMemberSelector = null)
        => base.SelectFlattenTo(specialMemberSelector) as IMySqlFromCommand<TTarget>;
    #endregion
}
<#  }#>