<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ import namespace="Microsoft.VisualStudio.TextTemplating"#>
<#@ output extension=".cs" #>
using System;
using System.Linq.Expressions;

namespace Trolley.MySqlConnector;

public class MySqlFromCommand<TEntity, T> : FromCommand<TEntity, T>, IMySqlFromCommand<TEntity, T>
{
    #region Constructor
    public MySqlFromCommand(DbContext dbContext, IQueryVisitor visitor)
        : base(dbContext, visitor) { }
    #endregion

    #region Sharding
    public new IMySqlFromCommand<TEntity, T> UseTable(params string[] tableNames)
        => base.UseTable(tableNames) as IMySqlFromCommand<TEntity, T>;
    public new IMySqlFromCommand<TEntity, T> UseTableBy(params object[] fieldValues)
        => base.UseTableBy(fieldValues) as IMySqlFromCommand<TEntity, T>;
    public new IMySqlFromCommand<TEntity, T> UseTableByRange(params object[] fieldValues)
        => base.UseTableByRange(fieldValues) as IMySqlFromCommand<TEntity, T>;
    public new IMySqlFromCommand<TEntity, T> UseUnionShardingTable()
        => base.UseUnionShardingTable() as IMySqlFromCommand<TEntity, T>;
    #endregion

    #region UseTableSchema
    public new IMySqlFromCommand<TEntity, T> UseTableSchema(string tableSchema)
        => base.UseTableSchema(tableSchema) as IMySqlFromCommand<TEntity, T>;
    #endregion

    #region Union/UnionAll
    public new IMySqlFromCommand<TEntity, T> Union(IQuery<T> subQuery)
        => base.Union(subQuery) as IMySqlFromCommand<TEntity, T>;
    public new IMySqlFromCommand<TEntity, T> Union(Expression<Func<IFromQuery, IQuery<T>>> subQueryExpr)
        => base.Union(subQueryExpr) as IMySqlFromCommand<TEntity, T>;
    public new IMySqlFromCommand<TEntity, T> UnionAll(IQuery<T> subQuery)
        => base.UnionAll(subQuery) as IMySqlFromCommand<TEntity, T>;
    public new IMySqlFromCommand<TEntity, T> UnionAll(Expression<Func<IFromQuery, IQuery<T>>> subQueryExpr)
        => base.UnionAll(subQueryExpr) as IMySqlFromCommand<TEntity, T>;
    public new IMySqlFromCommand<TEntity, T> UnionRecursive(Expression<Func<IFromQuery, IQuery<T>, IQuery<T>>> subQueryExpr)
        => base.UnionRecursive(subQueryExpr) as IMySqlFromCommand<TEntity, T>;
    public new IMySqlFromCommand<TEntity, T> UnionAllRecursive(Expression<Func<IFromQuery, IQuery<T>, IQuery<T>>> subQueryExpr)
        => base.UnionAllRecursive(subQueryExpr) as IMySqlFromCommand<TEntity, T>;
    #endregion

    #region WithTable
    public new IMySqlFromCommand<TEntity, T, TOther> WithTable<TOther>()
        => base.WithTable<TOther>() as IMySqlFromCommand<TEntity, T, TOther>;
    #endregion

    #region WithQuery
    public new IMySqlFromCommand<TEntity, T, TOther> WithQuery<TOther>(IQuery<TOther> subQuery)
        => base.WithQuery(subQuery) as IMySqlFromCommand<TEntity, T, TOther>;
    public new IMySqlFromCommand<TEntity, T, TOther> WithQuery<TOther>(Expression<Func<IFromQuery, IQuery<TOther>>> subQueryExpr)
        => base.WithQuery(subQueryExpr) as IMySqlFromCommand<TEntity, T, TOther>;
    #endregion

    #region InnerJoin
    public new IMySqlFromCommand<TEntity, T, TOther> InnerJoin<TOther>(Expression<Func<T, TOther, bool>> joinOn)
        => base.InnerJoin(joinOn) as IMySqlFromCommand<TEntity, T, TOther>;
    public new IMySqlFromCommand<TEntity, T, TOther> InnerJoin<TOther>(IQuery<TOther> subQuery, Expression<Func<T, TOther, bool>> joinOn)
        => base.InnerJoin(subQuery, joinOn) as IMySqlFromCommand<TEntity, T, TOther>;
    public new IMySqlFromCommand<TEntity, T, TOther> InnerJoin<TOther>(Expression<Func<IFromQuery, IQuery<TOther>>> subQueryExpr, Expression<Func<T, TOther, bool>> joinOn)
        => base.InnerJoin(subQueryExpr, joinOn) as IMySqlFromCommand<TEntity, T, TOther>;
    #endregion

    #region LeftJoin
    public new IMySqlFromCommand<TEntity, T, TOther> LeftJoin<TOther>(Expression<Func<T, TOther, bool>> joinOn)
        => base.LeftJoin(joinOn) as IMySqlFromCommand<TEntity, T, TOther>;
    public new IMySqlFromCommand<TEntity, T, TOther> LeftJoin<TOther>(IQuery<TOther> subQuery, Expression<Func<T, TOther, bool>> joinOn)
        => base.LeftJoin(subQuery, joinOn) as IMySqlFromCommand<TEntity, T, TOther>;
    public new IMySqlFromCommand<TEntity, T, TOther> LeftJoin<TOther>(Expression<Func<IFromQuery, IQuery<TOther>>> subQueryExpr, Expression<Func<T, TOther, bool>> joinOn)
        => base.LeftJoin(subQueryExpr, joinOn) as IMySqlFromCommand<TEntity, T, TOther>;
    #endregion

    #region RightJoin
    public new IMySqlFromCommand<TEntity, T, TOther> RightJoin<TOther>(Expression<Func<T, TOther, bool>> joinOn)
        => base.RightJoin(joinOn) as IMySqlFromCommand<TEntity, T, TOther>;
    public new IMySqlFromCommand<TEntity, T, TOther> RightJoin<TOther>(IQuery<TOther> subQuery, Expression<Func<T, TOther, bool>> joinOn)
        => base.RightJoin(subQuery, joinOn) as IMySqlFromCommand<TEntity, T, TOther>;
    public new IMySqlFromCommand<TEntity, T, TOther> RightJoin<TOther>(Expression<Func<IFromQuery, IQuery<TOther>>> subQueryExpr, Expression<Func<T, TOther, bool>> joinOn)
        => base.RightJoin(subQueryExpr, joinOn) as IMySqlFromCommand<TEntity, T, TOther>;
    #endregion

    #region Where
    public new IMySqlFromCommand<TEntity, T> Where(Expression<Func<T, bool>> predicate)
        => this.Where(true, predicate);
    public new IMySqlFromCommand<TEntity, T> Where(bool condition, Expression<Func<T, bool>> ifPredicate, Expression<Func<T, bool>> elsePredicate = null)
        => base.Where(condition, ifPredicate, elsePredicate) as IMySqlFromCommand<TEntity, T>;
    public new IMySqlFromCommand<TEntity, T> WherePredicate(Func<PredicateBuilder<T>, Expression<Func<T, bool>>> predicateInitializer)
        => base.WherePredicate(predicateInitializer) as IMySqlFromCommand<TEntity, T>;
    #endregion

    #region And
    public new IMySqlFromCommand<TEntity, T> And(Expression<Func<T, bool>> predicate)
        => this.And(true, predicate);
    public new IMySqlFromCommand<TEntity, T> And(bool condition, Expression<Func<T, bool>> ifPredicate, Expression<Func<T, bool>> elsePredicate = null)
        => base.And(condition, ifPredicate, elsePredicate) as IMySqlFromCommand<TEntity, T>;
    public new IMySqlFromCommand<TEntity, T> AndPredicate(Func<PredicateBuilder<T>, Expression<Func<T, bool>>> predicateInitializer)
        => base.AndPredicate(predicateInitializer) as IMySqlFromCommand<TEntity, T>;
    #endregion

    #region Or
    public new IMySqlFromCommand<TEntity, T> Or(Expression<Func<T, bool>> predicate)
        => this.Or(true, predicate);
    public new IMySqlFromCommand<TEntity, T> Or(bool condition, Expression<Func<T, bool>> ifPredicate, Expression<Func<T, bool>> elsePredicate = null)
        => base.Or(condition, ifPredicate, elsePredicate) as IMySqlFromCommand<TEntity, T>;
    public new IMySqlFromCommand<TEntity, T> OrPredicate(Func<PredicateBuilder<T>, Expression<Func<T, bool>>> predicateInitializer)
        => base.OrPredicate(predicateInitializer) as IMySqlFromCommand<TEntity, T>;
    #endregion

    #region GroupBy
    public new IMySqlGroupingCommand<TEntity, T, TGrouping> GroupBy<TGrouping>(Expression<Func<T, TGrouping>> groupingExpr)
        => base.GroupBy(groupingExpr) as IMySqlGroupingCommand<TEntity, T, TGrouping>;
    #endregion

    #region OrderBy
    public new IMySqlFromCommand<TEntity, T> OrderBy<TFields>(Expression<Func<T, TFields>> fieldsExpr)
        => this.OrderBy(true, fieldsExpr);
    public new IMySqlFromCommand<TEntity, T> OrderBy<TFields>(bool condition, Expression<Func<T, TFields>> fieldsExpr)
        => base.OrderBy(condition, fieldsExpr) as IMySqlFromCommand<TEntity, T>;
    public new IMySqlFromCommand<TEntity, T> OrderByDescending<TFields>(Expression<Func<T, TFields>> fieldsExpr)
        => this.OrderByDescending(true, fieldsExpr);
    public new IMySqlFromCommand<TEntity, T> OrderByDescending<TFields>(bool condition, Expression<Func<T, TFields>> fieldsExpr)
        => base.OrderByDescending(condition, fieldsExpr) as IMySqlFromCommand<TEntity, T>;
    public new IMySqlFromCommand<TEntity, T> OrderByDynamic(Func<OrderByBuilder<T>, Expression> fieldsGetter)
        => base.OrderByDynamic(fieldsGetter) as IMySqlFromCommand<TEntity, T>;
    #endregion

    #region Skip/Take/Page
    public new IMySqlFromCommand<TEntity, T> Skip(int offset)
        => base.Skip(offset) as IMySqlFromCommand<TEntity, T>;
    public new IMySqlFromCommand<TEntity, T> Take(int limit)
        => base.Take(limit) as IMySqlFromCommand<TEntity, T>;
    public new IMySqlFromCommand<TEntity, T> Page(int pageNumber, int pageSize)
        => base.Page(pageNumber, pageSize) as IMySqlFromCommand<TEntity, T>;
    #endregion

    #region Select
    public new IMySqlFromCommand<TEntity, T> Select(string fields = "*")
        => base.Select(fields) as IMySqlFromCommand<TEntity, T>;
    public new IMySqlFromCommand<TEntity, TTarget> Select<TTarget>(Expression<Func<T, TTarget>> fieldsExpr)
        => base.Select(fieldsExpr) as IMySqlFromCommand<TEntity, TTarget>;
    public new IMySqlFromCommand<TEntity, TTarget> SelectTo<TTarget>(Expression<Func<T, TTarget>> specialMemberSelector = null)
        => base.SelectTo(specialMemberSelector) as IMySqlFromCommand<TEntity, TTarget>;
    public new IMySqlFromCommand<TEntity, TTarget> SelectAggregate<TTarget>(Expression<Func<IAggregateSelect, T, TTarget>> fieldsExpr)
        => base.SelectAggregate(fieldsExpr) as IMySqlFromCommand<TEntity, TTarget>;
    #endregion

    #region Distinct
    public new IMySqlFromCommand<TEntity, T> Distinct()
        => base.Distinct() as IMySqlFromCommand<TEntity, T>;
    #endregion

    #region OnDuplicateKeyUpdate
    public IMySqlFromCommand<TEntity, T> OnDuplicateKeyUpdate<TUpdateFields>(TUpdateFields updateObj)
    {
        var sql = this.Visitor.BuildCommandSql(true, out _);
        var visitor = this.NewCreateVisitor(sql);
        visitor.OnDuplicateKeyUpdate(updateObj);
        return this;
    }
    public IMySqlFromCommand<TEntity, T> OnDuplicateKeyUpdate<TUpdateFields>(Expression<Func<IMySqlCreateDuplicateKeyUpdate<T>, TUpdateFields>> fieldsAssignment)
    {
        var sql = this.Visitor.BuildCommandSql(true, out _);
        var visitor = this.NewCreateVisitor(sql);
        visitor.OnDuplicateKeyUpdate(fieldsAssignment);
        return this;
    }
    #endregion

    #region Returnning
    public IMySqlBulkCreated<T, TResult> Returning<TResult>(string fieldNames)
    {
        var sql = this.Visitor.BuildCommandSql(true, out _);
        var visitor = this.NewCreateVisitor(sql);
        visitor.Returning(fieldNames);
        return new MySqlBulkCreated<T, TResult>(this.DbContext, visitor);
    }
    public IMySqlBulkCreated<T, TResult> Returning<TResult>(Expression<Func<T, TResult>> fieldsSelector)
    {
        var sql = this.Visitor.BuildCommandSql(true, out _);
        var visitor = this.NewCreateVisitor(sql);
        visitor.Returning(fieldsSelector);
        return new MySqlBulkCreated<T, TResult>(this.DbContext, visitor);
    }
    #endregion

    protected virtual MySqlCreateVisitor NewCreateVisitor(string fromSql = null)
    {
        var createVisiter = new MySqlCreateVisitor(this.DbContext, this.Visitor.TableAsStart);
        createVisiter.Tables = this.Visitor.Tables;
        createVisiter.DbParameters = this.Visitor.DbParameters;
        createVisiter.IsMultiple = this.Visitor.IsMultiple;
        createVisiter.CommandIndex = this.Visitor.CommandIndex;
        createVisiter.RefQueries = this.Visitor.RefQueries;
        createVisiter.ShardingTables = this.Visitor.ShardingTables;
        createVisiter.RefTableAliases = this.Visitor.RefTableAliases;
        createVisiter.IsRecursive = this.Visitor.IsRecursive;
        createVisiter.CteQueryObj = this.Visitor.CteQueryObj;
        createVisiter.RefFrom = this;
        createVisiter.FromSql = fromSql;
        return createVisiter;
    }
}
<#
    var count = 6;
    var tables = "T1";
    var currentTable = "T1";
    for (int i = 2; i <= count; i++)
    {
        tables += $", T{i}";
        currentTable = $"T{i}";
#>
public class MySqlFromCommand<TEntity, <#=tables#>> : FromCommand<TEntity, <#=tables#>>, IMySqlFromCommand<TEntity, <#=tables#>>
{
    #region Constructor
    public MySqlFromCommand(DbContext dbContext, IQueryVisitor visitor)
        : base(dbContext, visitor) { }
    #endregion

    #region Sharding
    public new IMySqlFromCommand<TEntity, <#=tables#>> UseTable(params string[] tableNames)
        => base.UseTable(tableNames) as IMySqlFromCommand<TEntity, <#=tables#>>;
    public new IMySqlFromCommand<TEntity, <#=tables#>> UseTableMap(Func<string, string, string, string> tableNameGetter)
        => base.UseTableMap(tableNameGetter) as IMySqlFromCommand<TEntity, <#=tables#>>;
    public new IMySqlFromCommand<TEntity, <#=tables#>> UseTableBy(params object[] fieldValues)
        => base.UseTableBy(fieldValues) as IMySqlFromCommand<TEntity, <#=tables#>>;
    public new IMySqlFromCommand<TEntity, <#=tables#>> UseTableByRange(params object[] fieldValues)
        => base.UseTableByRange(fieldValues) as IMySqlFromCommand<TEntity, <#=tables#>>;
    public new IMySqlFromCommand<TEntity, <#=tables#>> UseUnionShardingTable()
        => base.UseUnionShardingTable() as IMySqlFromCommand<TEntity, <#=tables#>>;
    #endregion

    #region UseTableSchema
    public new IMySqlFromCommand<TEntity, <#=tables#>> UseTableSchema(string tableSchema)
        => base.UseTableSchema(tableSchema) as IMySqlFromCommand<TEntity, <#=tables#>>;
    #endregion

<#
        if(i < count)
        {
#>
    #region WithTable
    public new IMySqlFromCommand<TEntity, <#=tables#>, TOther> WithTable<TOther>()
        => base.WithTable<TOther>() as IMySqlFromCommand<TEntity, <#=tables#>, TOther>;
    #endregion

    #region WithQuery
    public new IMySqlFromCommand<TEntity, <#=tables#>, TOther> WithQuery<TOther>(IQuery<TOther> subQuery)
        => base.WithQuery(subQuery) as IMySqlFromCommand<TEntity, <#=tables#>, TOther>;
    public new IMySqlFromCommand<TEntity, <#=tables#>, TOther> WithQuery<TOther>(Expression<Func<IFromQuery, IQuery<TOther>>> subQueryExpr)
        => base.WithQuery(subQueryExpr) as IMySqlFromCommand<TEntity, <#=tables#>, TOther>;
    #endregion

<#      }#>
    #region InnerJoin
    public new IMySqlFromCommand<TEntity, <#=tables#>> InnerJoin(Expression<Func<<#=tables#>, bool>> joinOn)
        => base.InnerJoin(joinOn) as IMySqlFromCommand<TEntity, <#=tables#>>;
<#
        if( i < count)
        {
#>
    public new IMySqlFromCommand<TEntity, <#=tables#>, TOther> InnerJoin<TOther>(Expression<Func<<#=tables#>, TOther, bool>> joinOn)
        => base.InnerJoin(joinOn) as IMySqlFromCommand<TEntity, <#=tables#>, TOther>;
    public new IMySqlFromCommand<TEntity, <#=tables#>, TOther> InnerJoin<TOther>(IQuery<TOther> subQuery, Expression<Func<<#=tables#>, TOther, bool>> joinOn)
        => base.InnerJoin(subQuery, joinOn) as IMySqlFromCommand<TEntity, <#=tables#>, TOther>;
    public new IMySqlFromCommand<TEntity, <#=tables#>, TOther> InnerJoin<TOther>(Expression<Func<IFromQuery, IQuery<TOther>>> subQueryExpr, Expression<Func<<#=tables#>, TOther, bool>> joinOn)
        => base.InnerJoin(subQueryExpr, joinOn) as IMySqlFromCommand<TEntity, <#=tables#>, TOther>;
<#      }#>
    #endregion

    #region LeftJoin
    public new IMySqlFromCommand<TEntity, <#=tables#>> LeftJoin(Expression<Func<<#=tables#>, bool>> joinOn)
        => base.LeftJoin(joinOn) as IMySqlFromCommand<TEntity, <#=tables#>>;
<#
        if( i < count)
        {
#>
    public new IMySqlFromCommand<TEntity, <#=tables#>, TOther> LeftJoin<TOther>(Expression<Func<<#=tables#>, TOther, bool>> joinOn)
        => base.LeftJoin(joinOn) as IMySqlFromCommand<TEntity, <#=tables#>, TOther>;
    public new IMySqlFromCommand<TEntity, <#=tables#>, TOther> LeftJoin<TOther>(IQuery<TOther> subQuery, Expression<Func<<#=tables#>, TOther, bool>> joinOn)
        => base.LeftJoin(subQuery, joinOn) as IMySqlFromCommand<TEntity, <#=tables#>, TOther>;
    public new IMySqlFromCommand<TEntity, <#=tables#>, TOther> LeftJoin<TOther>(Expression<Func<IFromQuery, IQuery<TOther>>> subQueryExpr, Expression<Func<<#=tables#>, TOther, bool>> joinOn)
        => base.LeftJoin(subQueryExpr, joinOn) as IMySqlFromCommand<TEntity, <#=tables#>, TOther>;
<#      }#>
    #endregion

    #region RightJoin
    public new IMySqlFromCommand<TEntity, <#=tables#>> RightJoin(Expression<Func<<#=tables#>, bool>> joinOn)
        => base.RightJoin(joinOn) as IMySqlFromCommand<TEntity, <#=tables#>>;
<#
        if( i < count)
        {
#>
    public new IMySqlFromCommand<TEntity, <#=tables#>, TOther> RightJoin<TOther>(Expression<Func<<#=tables#>, TOther, bool>> joinOn)
        => base.RightJoin(joinOn) as IMySqlFromCommand<TEntity, <#=tables#>, TOther>;
    public new IMySqlFromCommand<TEntity, <#=tables#>, TOther> RightJoin<TOther>(IQuery<TOther> subQuery, Expression<Func<<#=tables#>, TOther, bool>> joinOn)
        => base.RightJoin(subQuery, joinOn) as IMySqlFromCommand<TEntity, <#=tables#>, TOther>;
    public new IMySqlFromCommand<TEntity, <#=tables#>, TOther> RightJoin<TOther>(Expression<Func<IFromQuery, IQuery<TOther>>> subQueryExpr, Expression<Func<<#=tables#>, TOther, bool>> joinOn)
        => base.RightJoin(subQueryExpr, joinOn) as IMySqlFromCommand<TEntity, <#=tables#>, TOther>;
<#      }#>
    #endregion

    #region Where
    public new IMySqlFromCommand<TEntity, <#=tables#>> Where(Expression<Func<<#=tables#>, bool>> predicate)
        => this.Where(true, predicate);
    public new IMySqlFromCommand<TEntity, <#=tables#>> Where(bool condition, Expression<Func<<#=tables#>, bool>> ifPredicate, Expression<Func<<#=tables#>, bool>> elsePredicate = null)
        => base.Where(condition, ifPredicate, elsePredicate) as IMySqlFromCommand<TEntity, <#=tables#>>;
    public new IMySqlFromCommand<TEntity, <#=tables#>> WherePredicate(Func<PredicateBuilder<<#=tables#>>, Expression<Func<<#=tables#>, bool>>> predicateInitializer)
        => base.WherePredicate(predicateInitializer) as IMySqlFromCommand<TEntity, <#=tables#>>;
    #endregion

    #region And
    public new IMySqlFromCommand<TEntity, <#=tables#>> And(Expression<Func<<#=tables#>, bool>> predicate)
        => this.And(true, predicate);
    public new IMySqlFromCommand<TEntity, <#=tables#>> And(bool condition, Expression<Func<<#=tables#>, bool>> ifPredicate = null, Expression<Func<<#=tables#>, bool>> elsePredicate = null)
        => base.And(condition, ifPredicate, elsePredicate) as IMySqlFromCommand<TEntity, <#=tables#>>;
    public new IMySqlFromCommand<TEntity, <#=tables#>> AndPredicate(Func<PredicateBuilder<<#=tables#>>, Expression<Func<<#=tables#>, bool>>> predicateInitializer)
        => base.AndPredicate(predicateInitializer) as IMySqlFromCommand<TEntity, <#=tables#>>;
    #endregion

    #region Or
    public new IMySqlFromCommand<TEntity, <#=tables#>> Or(Expression<Func<<#=tables#>, bool>> predicate)
        => this.Or(true, predicate);
    public new IMySqlFromCommand<TEntity, <#=tables#>> Or(bool condition, Expression<Func<<#=tables#>, bool>> ifPredicate = null, Expression<Func<<#=tables#>, bool>> elsePredicate = null)
        => base.Or(condition, ifPredicate, elsePredicate) as IMySqlFromCommand<TEntity, <#=tables#>>;
    public new IMySqlFromCommand<TEntity, <#=tables#>> OrPredicate(Func<PredicateBuilder<<#=tables#>>, Expression<Func<<#=tables#>, bool>>> predicateInitializer)
        => base.OrPredicate(predicateInitializer) as IMySqlFromCommand<TEntity, <#=tables#>>;
    #endregion

    #region GroupBy
    public new IMySqlGroupingCommand<TEntity, <#=tables#>, TGrouping> GroupBy<TGrouping>(Expression<Func<<#=tables#>, TGrouping>> groupingExpr)
        => base.GroupBy(groupingExpr) as IMySqlGroupingCommand<TEntity, <#=tables#>, TGrouping>;
    #endregion

    #region OrderBy
    public new IMySqlFromCommand<TEntity, <#=tables#>> OrderBy<TFields>(Expression<Func<<#=tables#>, TFields>> fieldsExpr)
        => this.OrderBy(true, fieldsExpr);
    public new IMySqlFromCommand<TEntity, <#=tables#>> OrderBy<TFields>(bool condition, Expression<Func<<#=tables#>, TFields>> fieldsExpr)
        => base.OrderBy(condition, fieldsExpr) as IMySqlFromCommand<TEntity, <#=tables#>>;
    public new IMySqlFromCommand<TEntity, <#=tables#>> OrderByDescending<TFields>(Expression<Func<<#=tables#>, TFields>> fieldsExpr)
        => this.OrderByDescending(true, fieldsExpr);
    public new IMySqlFromCommand<TEntity, <#=tables#>> OrderByDescending<TFields>(bool condition, Expression<Func<<#=tables#>, TFields>> fieldsExpr)
        => base.OrderByDescending(condition, fieldsExpr) as IMySqlFromCommand<TEntity, <#=tables#>>;
    public new IMySqlFromCommand<TEntity, <#=tables#>> OrderByDynamic(Func<OrderByBuilder<<#=tables#>>, Expression> fieldsGetter)
        => base.OrderByDynamic(fieldsGetter) as IMySqlFromCommand<TEntity, <#=tables#>>;
    #endregion

    #region Skip/Take/Page
    public new IMySqlFromCommand<TEntity, <#=tables#>> Skip(int offset)
        => base.Skip(offset) as IMySqlFromCommand<TEntity, <#=tables#>>;
    public new IMySqlFromCommand<TEntity, <#=tables#>> Take(int limit)
        => base.Take(limit) as IMySqlFromCommand<TEntity, <#=tables#>>;
    public new IMySqlFromCommand<TEntity, <#=tables#>> Page(int pageNumber, int pageSize)
        => base.Page(pageNumber, pageSize) as IMySqlFromCommand<TEntity, <#=tables#>>;
    #endregion

    #region Select
    public new IMySqlFromCommand<TEntity, TTarget> Select<TTarget>(Expression<Func<<#=tables#>, TTarget>> fieldsExpr)
        => base.Select(fieldsExpr) as IMySqlFromCommand<TEntity, TTarget>;
    public new IMySqlFromCommand<TEntity, TTarget> SelectTo<TTarget>(Expression<Func<<#=tables#>, TTarget>> specialMemberSelector = null)
        => base.SelectTo(specialMemberSelector) as IMySqlFromCommand<TEntity, TTarget>;
    #endregion
}
<#  }#>