<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ import namespace="Microsoft.VisualStudio.TextTemplating"#>
<#@ output extension=".cs" #>
using System;
using System.Linq.Expressions;

namespace Trolley.PostgreSql;

public class PostgreSqlFromCommand<TEntity, T> : FromCommand<TEntity, T>, IPostgreSqlFromCommand<TEntity, T>
{
    #region Constructor
    public PostgreSqlFromCommand(DbContext dbContext, IQueryVisitor visitor)
        : base(dbContext, visitor) { }
    #endregion

    #region Sharding
    public new IPostgreSqlFromCommand<TEntity, T> UseTable(params string[] tableNames)
        => base.UseTable(tableNames) as IPostgreSqlFromCommand<TEntity, T>;
    public new IPostgreSqlFromCommand<TEntity, T> UseTable(Func<string, bool> tableNamePredicate)
        => base.UseTable(tableNamePredicate) as IPostgreSqlFromCommand<TEntity, T>;
    public new IPostgreSqlFromCommand<TEntity, T> UseTableBy(params object[] fieldValues)
        => base.UseTableBy(fieldValues) as IPostgreSqlFromCommand<TEntity, T>;
    public new IPostgreSqlFromCommand<TEntity, T> UseTableByRange(object beginFieldValue, object endFieldValue)
        => base.UseTableBy(beginFieldValue, endFieldValue) as IPostgreSqlFromCommand<TEntity, T>;
    public new IPostgreSqlFromCommand<TEntity, T> UseTableByRange(object field1Value, object beginField2Value, object endField2Value)
        => base.UseTableByRange(field1Value, beginField2Value, endField2Value) as IPostgreSqlFromCommand<TEntity, T>;
    public new IPostgreSqlFromCommand<TEntity, T> UseTableByRange(object field1Value, object field2Value, object beginField3Value, object endField3Value)
        => base.UseTableByRange(field1Value, field2Value, beginField3Value, endField3Value) as IPostgreSqlFromCommand<TEntity, T>;
    #endregion

    #region UseTableSchema
    public new IPostgreSqlFromCommand<TEntity, T> UseTableSchema(string tableSchema)
        => base.UseTableSchema(tableSchema) as IPostgreSqlFromCommand<TEntity, T>;
    #endregion

    #region Union/UnionAll
    public new IPostgreSqlFromCommand<TEntity, T> Union(IQuery<T> subQuery)
        => base.Union(subQuery) as IPostgreSqlFromCommand<TEntity, T>;
    public new IPostgreSqlFromCommand<TEntity, T> Union(Expression<Func<IFromQuery, IQuery<T>>> subQueryExpr)
        => base.Union(subQueryExpr) as IPostgreSqlFromCommand<TEntity, T>;
    public new IPostgreSqlFromCommand<TEntity, T> UnionAll(IQuery<T> subQuery)
        => base.UnionAll(subQuery) as IPostgreSqlFromCommand<TEntity, T>;
    public new IPostgreSqlFromCommand<TEntity, T> UnionAll(Expression<Func<IFromQuery, IQuery<T>>> subQueryExpr)
        => base.UnionAll(subQueryExpr) as IPostgreSqlFromCommand<TEntity, T>;
    public new IPostgreSqlFromCommand<TEntity, T> UnionRecursive(Expression<Func<IFromQuery, IQuery<T>, IQuery<T>>> subQueryExpr)
        => base.UnionRecursive(subQueryExpr) as IPostgreSqlFromCommand<TEntity, T>;
    public new IPostgreSqlFromCommand<TEntity, T> UnionAllRecursive(Expression<Func<IFromQuery, IQuery<T>, IQuery<T>>> subQueryExpr)
        => base.UnionAllRecursive(subQueryExpr) as IPostgreSqlFromCommand<TEntity, T>;
    #endregion

    #region WithTable
    public new IPostgreSqlFromCommand<TEntity, T, TOther> WithTable<TOther>()
        => base.WithTable<TOther>() as IPostgreSqlFromCommand<TEntity, T, TOther>;
    #endregion

    #region WithTable
    public new IPostgreSqlFromCommand<TEntity, T, TOther> WithQuery<TOther>(IQuery<TOther> subQuery)
        => base.WithTable(subQuery) as IPostgreSqlFromCommand<TEntity, T, TOther>;
    public new IPostgreSqlFromCommand<TEntity, T, TOther> WithQuery<TOther>(Expression<Func<IFromQuery, IQuery<TOther>>> subQueryExpr)
        => base.WithTable(subQueryExpr) as IPostgreSqlFromCommand<TEntity, T, TOther>;
    #endregion

    #region InnerJoin
    public new IPostgreSqlFromCommand<TEntity, T, TOther> InnerJoin<TOther>(Expression<Func<T, TOther, bool>> joinOn)
        => base.InnerJoin(joinOn) as IPostgreSqlFromCommand<TEntity, T, TOther>;
    public new IPostgreSqlFromCommand<TEntity, T, TOther> InnerJoin<TOther>(IQuery<TOther> subQuery, Expression<Func<T, TOther, bool>> joinOn)
        => base.InnerJoin(subQuery, joinOn) as IPostgreSqlFromCommand<TEntity, T, TOther>;
    public new IPostgreSqlFromCommand<TEntity, T, TOther> InnerJoin<TOther>(Expression<Func<IFromQuery, IQuery<TOther>>> subQueryExpr, Expression<Func<T, TOther, bool>> joinOn)
        => base.InnerJoin(subQueryExpr, joinOn) as IPostgreSqlFromCommand<TEntity, T, TOther>;
    #endregion

    #region LeftJoin
    public new IPostgreSqlFromCommand<TEntity, T, TOther> LeftJoin<TOther>(Expression<Func<T, TOther, bool>> joinOn)
        => base.LeftJoin(joinOn) as IPostgreSqlFromCommand<TEntity, T, TOther>;
    public new IPostgreSqlFromCommand<TEntity, T, TOther> LeftJoin<TOther>(IQuery<TOther> subQuery, Expression<Func<T, TOther, bool>> joinOn)
        => base.LeftJoin(subQuery, joinOn) as IPostgreSqlFromCommand<TEntity, T, TOther>;
    public new IPostgreSqlFromCommand<TEntity, T, TOther> LeftJoin<TOther>(Expression<Func<IFromQuery, IQuery<TOther>>> subQueryExpr, Expression<Func<T, TOther, bool>> joinOn)
        => base.LeftJoin(subQueryExpr, joinOn) as IPostgreSqlFromCommand<TEntity, T, TOther>;
    #endregion

    #region RightJoin
    public new IPostgreSqlFromCommand<TEntity, T, TOther> RightJoin<TOther>(Expression<Func<T, TOther, bool>> joinOn)
        => base.RightJoin(joinOn) as IPostgreSqlFromCommand<TEntity, T, TOther>; 
    public new IPostgreSqlFromCommand<TEntity, T, TOther> RightJoin<TOther>(IQuery<TOther> subQuery, Expression<Func<T, TOther, bool>> joinOn)
        => base.RightJoin(subQuery, joinOn) as IPostgreSqlFromCommand<TEntity, T, TOther>; 
    public new IPostgreSqlFromCommand<TEntity, T, TOther> RightJoin<TOther>(Expression<Func<IFromQuery, IQuery<TOther>>> subQueryExpr, Expression<Func<T, TOther, bool>> joinOn)
        => base.RightJoin(subQueryExpr, joinOn) as IPostgreSqlFromCommand<TEntity, T, TOther>;
    #endregion

    #region Where
    public new IPostgreSqlFromCommand<TEntity, T> Where(Expression<Func<T, bool>> predicate)
        => this.Where(true, predicate);
    public new IPostgreSqlFromCommand<TEntity, T> Where(bool condition, Expression<Func<T, bool>> ifPredicate, Expression<Func<T, bool>> elsePredicate = null)
        => base.Where(condition, ifPredicate, elsePredicate) as IPostgreSqlFromCommand<TEntity, T>;
    public new IPostgreSqlFromCommand<TEntity, T> WherePredicate(Func<PredicateBuilder<T>, Expression<Func<T, bool>>> predicateInitializer)
        => base.WherePredicate(predicateInitializer) as IPostgreSqlFromCommand<TEntity, T>;
    #endregion

    #region And
    public new IPostgreSqlFromCommand<TEntity, T> And(Expression<Func<T, bool>> predicate)
        => this.And(true, predicate);
    public new IPostgreSqlFromCommand<TEntity, T> And(bool condition, Expression<Func<T, bool>> ifPredicate, Expression<Func<T, bool>> elsePredicate = null)
        => base.And(condition, ifPredicate, elsePredicate) as IPostgreSqlFromCommand<TEntity, T>;
    public new IPostgreSqlFromCommand<TEntity, T> AndPredicate(Func<PredicateBuilder<T>, Expression<Func<T, bool>>> predicateInitializer)
        => base.AndPredicate(predicateInitializer) as IPostgreSqlFromCommand<TEntity, T>;
    #endregion

    #region Or
    public new IPostgreSqlFromCommand<TEntity, T> Or(Expression<Func<T, bool>> predicate)
        => this.Or(true, predicate);
    public new IPostgreSqlFromCommand<TEntity, T> Or(bool condition, Expression<Func<T, bool>> ifPredicate, Expression<Func<T, bool>> elsePredicate = null)
        => base.Or(condition, ifPredicate, elsePredicate) as IPostgreSqlFromCommand<TEntity, T>;
    public new IPostgreSqlFromCommand<TEntity, T> OrPredicate(Func<PredicateBuilder<T>, Expression<Func<T, bool>>> predicateInitializer)
        => base.OrPredicate(predicateInitializer) as IPostgreSqlFromCommand<TEntity, T>;
    #endregion

    #region GroupBy
    public new IPostgreSqlGroupingCommand<TEntity, T, TGrouping> GroupBy<TGrouping>(Expression<Func<T, TGrouping>> groupingExpr)
        => base.GroupBy(groupingExpr) as IPostgreSqlGroupingCommand<TEntity, T, TGrouping>;
    #endregion

    #region OrderBy
    public new IPostgreSqlFromCommand<TEntity, T> OrderBy<TFields>(Expression<Func<T, TFields>> fieldsExpr)
        => this.OrderBy(true, fieldsExpr);
    public new IPostgreSqlFromCommand<TEntity, T> OrderBy<TFields>(bool condition, Expression<Func<T, TFields>> fieldsExpr)
        => base.OrderBy(condition, fieldsExpr) as IPostgreSqlFromCommand<TEntity, T>;
    public new IPostgreSqlFromCommand<TEntity, T> OrderByDescending<TFields>(Expression<Func<T, TFields>> fieldsExpr)
        => this.OrderByDescending(true, fieldsExpr);
    public new IPostgreSqlFromCommand<TEntity, T> OrderByDescending<TFields>(bool condition, Expression<Func<T, TFields>> fieldsExpr)
        => base.OrderByDescending(condition, fieldsExpr) as IPostgreSqlFromCommand<TEntity, T>;
    public new IPostgreSqlFromCommand<TEntity, T> OrderByDynamic(Func<OrderByBuilder<T>, Expression> fieldsGetter)
        => base.OrderByDynamic(fieldsGetter) as IPostgreSqlFromCommand<TEntity, T>;
    #endregion

    #region Skip/Take/Page
    public new IPostgreSqlFromCommand<TEntity, T> Skip(int offset)
        => base.Skip(offset) as IPostgreSqlFromCommand<TEntity, T>;
    public new IPostgreSqlFromCommand<TEntity, T> Take(int limit)
        => base.Take(limit) as IPostgreSqlFromCommand<TEntity, T>;
    public new IPostgreSqlFromCommand<TEntity, T> Page(int pageNumber, int pageSize)
        => base.Page(pageNumber, pageSize) as IPostgreSqlFromCommand<TEntity, T>;
    #endregion

    #region Select
    public new IPostgreSqlFromCommand<TEntity, T> Select(string fields = "*")
        => base.Select(fields) as IPostgreSqlFromCommand<TEntity, T>;
    public new IPostgreSqlFromCommand<TEntity, TTarget> Select<TTarget>(Expression<Func<T, TTarget>> fieldsExpr)
        => base.Select(fieldsExpr) as IPostgreSqlFromCommand<TEntity, TTarget>;    
    public new IPostgreSqlFromCommand<TEntity, TTarget> SelectTo<TTarget>(Expression<Func<T, TTarget>> specialMemberSelector = null)
        => base.SelectTo(specialMemberSelector) as IPostgreSqlFromCommand<TEntity, TTarget>;
    public new IPostgreSqlFromCommand<TEntity, TTarget> SelectAggregate<TTarget>(Expression<Func<IAggregateSelect, T, TTarget>> fieldsExpr)
        => base.SelectAggregate(fieldsExpr) as IPostgreSqlFromCommand<TEntity, TTarget>;
    #endregion

    #region Distinct
    public new IPostgreSqlFromCommand<TEntity, T> Distinct()
        => base.Distinct() as IPostgreSqlFromCommand<TEntity, T>;
    #endregion

    #region OnConflict
    public IPostgreSqlFromCommand<TEntity, T> OnConflict<TUpdateFields>(Expression<Func<IPostgreSqlCreateConflictDoUpdate<T>, TUpdateFields>> fieldsAssignment)
    {
        var visitor = this.NewCreateVisitor();
        visitor.VisitSetExpression(fieldsAssignment);
        this.Visitor.IsNeedCommandTableAlias = visitor.IsUseTableAlias;
        visitor.FromSql = this.Visitor.BuildCommandSql(false, out _);
        return this;
    }
    #endregion

    #region Returnning
    public IPostgreSqlBulkCreated<T, TResult> Returning<TResult>(string fieldNames)
    {
        var sql = this.Visitor.BuildCommandSql(false, out _);
        var visitor = this.NewCreateVisitor();
        visitor.FromSql = sql;
        visitor.Returning(fieldNames);
        return new PostgreSqlBulkCreated<T, TResult>(this.DbContext, visitor);
    }
    public IPostgreSqlBulkCreated<T, TResult> Returning<TResult>(Expression<Func<T, TResult>> fieldsSelector)
    {
        var sql = this.Visitor.BuildCommandSql(false, out _);
        var visitor = this.NewCreateVisitor();
        visitor.FromSql = sql;
        visitor.Returning(fieldsSelector);
        return new PostgreSqlBulkCreated<T, TResult>(this.DbContext, visitor);
    }
    #endregion

    protected virtual PostgreSqlCreateVisitor NewCreateVisitor()
    {
        var createVisiter = new PostgreSqlCreateVisitor(this.DbContext, this.Visitor.TableAsStart);
        createVisiter.Tables = this.Visitor.Tables;
        createVisiter.DbParameters = this.Visitor.DbParameters;
        createVisiter.IsMultiple = this.Visitor.IsMultiple;
        createVisiter.CommandIndex = this.Visitor.CommandIndex;
        createVisiter.RefQueries = this.Visitor.RefQueries;
        createVisiter.ShardingTables = this.Visitor.ShardingTables;
        createVisiter.RefTableAliases = this.Visitor.RefTableAliases;
        createVisiter.IsRecursive = this.Visitor.IsRecursive;
        createVisiter.CteQueryObj = this.Visitor.CteQueryObj;
        createVisiter.RefFrom = this;
        return createVisiter;
    }
}
<#
    var count = 6;
    var tables = "T1";
    var currentTable = "T1";
    for (int i = 2; i <= count; i++)
    {
        tables += $", T{i}";
        currentTable = $"T{i}";
#>
public class PostgreSqlFromCommand<TEntity, <#=tables#>> : FromCommand<TEntity, <#=tables#>>, IPostgreSqlFromCommand<TEntity, <#=tables#>>
{
    #region Constructor
    public PostgreSqlFromCommand(DbContext dbContext, IQueryVisitor visitor)
        : base(dbContext, visitor) { }
    #endregion

    #region Sharding
    public new IPostgreSqlFromCommand<TEntity, <#=tables#>> UseTable(params string[] tableNames)
        => base.UseTable(tableNames) as IPostgreSqlFromCommand<TEntity, <#=tables#>>;
    public new IPostgreSqlFromCommand<TEntity, <#=tables#>> UseTable(Func<string, bool> tableNamePredicate)
        => base.UseTable(tableNamePredicate) as IPostgreSqlFromCommand<TEntity, <#=tables#>>;
    public new IPostgreSqlFromCommand<TEntity, <#=tables#>> UseTableMap<TMasterSharding>(Func<string, string, string, string> tableNameGetter)
        => base.UseTableMap<TMasterSharding>(tableNameGetter) as IPostgreSqlFromCommand<TEntity, <#=tables#>>;
    public new IPostgreSqlFromCommand<TEntity, <#=tables#>> UseTableBy(params object[] fieldValues)
        => base.UseTableBy(fieldValues) as IPostgreSqlFromCommand<TEntity, <#=tables#>>;
    public new IPostgreSqlFromCommand<TEntity, <#=tables#>> UseTableByRange(object beginFieldValue, object endFieldValue)
        => base.UseTableBy(beginFieldValue, endFieldValue) as IPostgreSqlFromCommand<TEntity, <#=tables#>>;
    public new IPostgreSqlFromCommand<TEntity, <#=tables#>> UseTableByRange(object field1Value, object beginField2Value, object endField2Value)
        => base.UseTableByRange(field1Value, beginField2Value, endField2Value) as IPostgreSqlFromCommand<TEntity, <#=tables#>>;
    public new IPostgreSqlFromCommand<TEntity, <#=tables#>> UseTableByRange(object field1Value, object field2Value, object beginField3Value, object endField3Value)
        => base.UseTableByRange(field1Value, field2Value, beginField3Value, endField3Value) as IPostgreSqlFromCommand<TEntity, <#=tables#>>;
    #endregion

    #region UseTableSchema
    public new IPostgreSqlFromCommand<TEntity, <#=tables#>> UseTableSchema(string tableSchema)
        => base.UseTableSchema(tableSchema) as IPostgreSqlFromCommand<TEntity, <#=tables#>>;
    #endregion

<#
        if(i < count)
        {
#>
    #region WithTable
    public new IPostgreSqlFromCommand<TEntity, <#=tables#>, TOther> WithTable<TOther>()
        => base.WithTable<TOther>() as IPostgreSqlFromCommand<TEntity, <#=tables#>, TOther>;
    #endregion

    #region WithTable
    public new IPostgreSqlFromCommand<TEntity, <#=tables#>, TOther> WithQuery<TOther>(IQuery<TOther> subQuery)
        => base.WithTable(subQuery) as IPostgreSqlFromCommand<TEntity, <#=tables#>, TOther>;
    public new IPostgreSqlFromCommand<TEntity, <#=tables#>, TOther> WithQuery<TOther>(Expression<Func<IFromQuery, IQuery<TOther>>> subQueryExpr)
        => base.WithTable(subQueryExpr) as IPostgreSqlFromCommand<TEntity, <#=tables#>, TOther>;
    #endregion

<#      }#>
    #region InnerJoin
    public new IPostgreSqlFromCommand<TEntity, <#=tables#>> InnerJoin(Expression<Func<<#=tables#>, bool>> joinOn)
        => base.InnerJoin(joinOn) as IPostgreSqlFromCommand<TEntity, <#=tables#>>;
<#
        if( i < count)
        {
#>
    public new IPostgreSqlFromCommand<TEntity, <#=tables#>, TOther> InnerJoin<TOther>(Expression<Func<<#=tables#>, TOther, bool>> joinOn)
        => base.InnerJoin(joinOn) as IPostgreSqlFromCommand<TEntity, <#=tables#>, TOther>;
    public new IPostgreSqlFromCommand<TEntity, <#=tables#>, TOther> InnerJoin<TOther>(IQuery<TOther> subQuery, Expression<Func<<#=tables#>, TOther, bool>> joinOn)
        => base.InnerJoin(subQuery, joinOn) as IPostgreSqlFromCommand<TEntity, <#=tables#>, TOther>;
    public new IPostgreSqlFromCommand<TEntity, <#=tables#>, TOther> InnerJoin<TOther>(Expression<Func<IFromQuery, IQuery<TOther>>> subQueryExpr, Expression<Func<<#=tables#>, TOther, bool>> joinOn)
        => base.InnerJoin(subQueryExpr, joinOn) as IPostgreSqlFromCommand<TEntity, <#=tables#>, TOther>;
<#      }#>
    #endregion

    #region LeftJoin
    public new IPostgreSqlFromCommand<TEntity, <#=tables#>> LeftJoin(Expression<Func<<#=tables#>, bool>> joinOn)
        => base.LeftJoin(joinOn) as IPostgreSqlFromCommand<TEntity, <#=tables#>>;
<#
        if( i < count)
        {
#>
    public new IPostgreSqlFromCommand<TEntity, <#=tables#>, TOther> LeftJoin<TOther>(Expression<Func<<#=tables#>, TOther, bool>> joinOn)
        => base.LeftJoin(joinOn) as IPostgreSqlFromCommand<TEntity, <#=tables#>, TOther>;
    public new IPostgreSqlFromCommand<TEntity, <#=tables#>, TOther> LeftJoin<TOther>(IQuery<TOther> subQuery, Expression<Func<<#=tables#>, TOther, bool>> joinOn)
        => base.LeftJoin(subQuery, joinOn) as IPostgreSqlFromCommand<TEntity, <#=tables#>, TOther>;
    public new IPostgreSqlFromCommand<TEntity, <#=tables#>, TOther> LeftJoin<TOther>(Expression<Func<IFromQuery, IQuery<TOther>>> subQueryExpr, Expression<Func<<#=tables#>, TOther, bool>> joinOn)
        => base.LeftJoin(subQueryExpr, joinOn) as IPostgreSqlFromCommand<TEntity, <#=tables#>, TOther>;
<#      }#>
    #endregion

    #region RightJoin
    public new IPostgreSqlFromCommand<TEntity, <#=tables#>> RightJoin(Expression<Func<<#=tables#>, bool>> joinOn)
        => base.RightJoin(joinOn) as IPostgreSqlFromCommand<TEntity, <#=tables#>>;
<#
        if( i < count)
        {
#>
    public new IPostgreSqlFromCommand<TEntity, <#=tables#>, TOther> RightJoin<TOther>(Expression<Func<<#=tables#>, TOther, bool>> joinOn)
        => base.RightJoin(joinOn) as IPostgreSqlFromCommand<TEntity, <#=tables#>, TOther>;
    public new IPostgreSqlFromCommand<TEntity, <#=tables#>, TOther> RightJoin<TOther>(IQuery<TOther> subQuery, Expression<Func<<#=tables#>, TOther, bool>> joinOn)
        => base.RightJoin(subQuery, joinOn) as IPostgreSqlFromCommand<TEntity, <#=tables#>, TOther>;
    public new IPostgreSqlFromCommand<TEntity, <#=tables#>, TOther> RightJoin<TOther>(Expression<Func<IFromQuery, IQuery<TOther>>> subQueryExpr, Expression<Func<<#=tables#>, TOther, bool>> joinOn)
        => base.RightJoin(subQueryExpr, joinOn) as IPostgreSqlFromCommand<TEntity, <#=tables#>, TOther>;
<#      }#>
    #endregion

    #region Where
    public new IPostgreSqlFromCommand<TEntity, <#=tables#>> Where(Expression<Func<<#=tables#>, bool>> predicate)
        => this.Where(true, predicate);
    public new IPostgreSqlFromCommand<TEntity, <#=tables#>> Where(bool condition, Expression<Func<<#=tables#>, bool>> ifPredicate, Expression<Func<<#=tables#>, bool>> elsePredicate = null)
        => base.Where(condition, ifPredicate, elsePredicate) as IPostgreSqlFromCommand<TEntity, <#=tables#>>;
    public new IPostgreSqlFromCommand<TEntity, <#=tables#>> WherePredicate(Func<PredicateBuilder<<#=tables#>>, Expression<Func<<#=tables#>, bool>>> predicateInitializer)
        => base.WherePredicate(predicateInitializer) as IPostgreSqlFromCommand<TEntity, <#=tables#>>;
    #endregion

    #region And
    public new IPostgreSqlFromCommand<TEntity, <#=tables#>> And(Expression<Func<<#=tables#>, bool>> predicate)
        => this.And(true, predicate);
    public new IPostgreSqlFromCommand<TEntity, <#=tables#>> And(bool condition, Expression<Func<<#=tables#>, bool>> ifPredicate = null, Expression<Func<<#=tables#>, bool>> elsePredicate = null)
        => base.And(condition, ifPredicate, elsePredicate) as IPostgreSqlFromCommand<TEntity, <#=tables#>>;
    public new IPostgreSqlFromCommand<TEntity, <#=tables#>> AndPredicate(Func<PredicateBuilder<<#=tables#>>, Expression<Func<<#=tables#>, bool>>> predicateInitializer)
        => base.AndPredicate(predicateInitializer) as IPostgreSqlFromCommand<TEntity, <#=tables#>>;
    #endregion

    #region Or
    public new IPostgreSqlFromCommand<TEntity, <#=tables#>> Or(Expression<Func<<#=tables#>, bool>> predicate)
        => this.Or(true, predicate);
    public new IPostgreSqlFromCommand<TEntity, <#=tables#>> Or(bool condition, Expression<Func<<#=tables#>, bool>> ifPredicate = null, Expression<Func<<#=tables#>, bool>> elsePredicate = null)
        => base.Or(condition, ifPredicate, elsePredicate) as IPostgreSqlFromCommand<TEntity, <#=tables#>>;
    public new IPostgreSqlFromCommand<TEntity, <#=tables#>> OrPredicate(Func<PredicateBuilder<<#=tables#>>, Expression<Func<<#=tables#>, bool>>> predicateInitializer)
        => base.OrPredicate(predicateInitializer) as IPostgreSqlFromCommand<TEntity, <#=tables#>>;
    #endregion

    #region GroupBy
    public new IPostgreSqlGroupingCommand<TEntity, <#=tables#>, TGrouping> GroupBy<TGrouping>(Expression<Func<<#=tables#>, TGrouping>> groupingExpr)
        => base.GroupBy(groupingExpr) as IPostgreSqlGroupingCommand<TEntity, <#=tables#>, TGrouping>;
    #endregion

    #region OrderBy
    public new IPostgreSqlFromCommand<TEntity, <#=tables#>> OrderBy<TFields>(Expression<Func<<#=tables#>, TFields>> fieldsExpr)
        => this.OrderBy(true, fieldsExpr);
    public new IPostgreSqlFromCommand<TEntity, <#=tables#>> OrderBy<TFields>(bool condition, Expression<Func<<#=tables#>, TFields>> fieldsExpr)
        => base.OrderBy(condition, fieldsExpr) as IPostgreSqlFromCommand<TEntity, <#=tables#>>;
    public new IPostgreSqlFromCommand<TEntity, <#=tables#>> OrderByDescending<TFields>(Expression<Func<<#=tables#>, TFields>> fieldsExpr)
        => this.OrderByDescending(true, fieldsExpr);
    public new IPostgreSqlFromCommand<TEntity, <#=tables#>> OrderByDescending<TFields>(bool condition, Expression<Func<<#=tables#>, TFields>> fieldsExpr)
        => base.OrderByDescending(condition, fieldsExpr) as IPostgreSqlFromCommand<TEntity, <#=tables#>>;
    public new IPostgreSqlFromCommand<TEntity, <#=tables#>> OrderByDynamic(Func<OrderByBuilder<<#=tables#>>, Expression> fieldsGetter)
        => base.OrderByDynamic(fieldsGetter) as IPostgreSqlFromCommand<TEntity, <#=tables#>>;
    #endregion

    #region Skip/Take/Page
    public new IPostgreSqlFromCommand<TEntity, <#=tables#>> Skip(int offset)
        => base.Skip(offset) as IPostgreSqlFromCommand<TEntity, <#=tables#>>;
    public new IPostgreSqlFromCommand<TEntity, <#=tables#>> Take(int limit)
        => base.Take(limit) as IPostgreSqlFromCommand<TEntity, <#=tables#>>;
    public new IPostgreSqlFromCommand<TEntity, <#=tables#>> Page(int pageNumber, int pageSize)
        => base.Page(pageNumber, pageSize) as IPostgreSqlFromCommand<TEntity, <#=tables#>>;
    #endregion

    #region Select
    public new IPostgreSqlFromCommand<TEntity, TTarget> Select<TTarget>(Expression<Func<<#=tables#>, TTarget>> fieldsExpr)
        => base.Select(fieldsExpr) as IPostgreSqlFromCommand<TEntity, TTarget>;
    public new IPostgreSqlFromCommand<TEntity, TTarget> SelectTo<TTarget>(Expression<Func<<#=tables#>, TTarget>> specialMemberSelector = null)
        => base.SelectTo(specialMemberSelector) as IPostgreSqlFromCommand<TEntity, TTarget>;
    #endregion
}
<#  }#>
